header.header
    a.logo(href='index.html')
        img(src="./img/logo.svg", alt="")
   
    .for-mobile
        .close-button 
            svg(width='17' height='16' viewbox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.0003 14.9676L15.0238 1M1.0003 1L15.0241 14.9676' stroke='#1A2335' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        .container 
            nav.menu
                li
                    .dropup
                            a(href="#").dropbtn.menu-link Компанія
                            .dropup-content
                                a(href='https://zaslavskayasya.github.io/baufest/dist/about.html') Про нас
                                a(href='https://zaslavskayasya.github.io/baufest/dist/laboratory.html') Лабораторія
                                a(href='https://zaslavskayasya.github.io/baufest/dist/partners.html') Партнерам
                                a(href='https://zaslavskayasya.github.io/baufest/dist/complex.html') Виробничий комплекс
                li
                    .dropup
                            a(href="#").dropbtn.menu-link послуги
                            .dropup-content
                                a(href='https://zaslavskayasya.github.io/baufest/dist/design.html') Дизайн проект
                                a(href='https://zaslavskayasya.github.io/baufest/dist/material.html') Сипучі матеріали
                                a(href='https://zaslavskayasya.github.io/baufest/dist/delivery.html') Доставка і оплата
                                a(href='https://zaslavskayasya.github.io/baufest/dist/uklad.html') Укладання бруківки та тротуарної плитки
                li
                    a.menu-link(href='https://zaslavskayasya.github.io/baufest/dist/catalog.html') Продукція
                li
                    a.menu-link(href='https://zaslavskayasya.github.io/baufest/dist/baufest/dist/advices.html') корисне
                li
                    a.menu-link(href='https://zaslavskayasya.github.io/baufest/dist/baufest/dist/gallery.html') Галерея
                li
                    a.menu-link(href='https://zaslavskayasya.github.io/baufest/dist/baufest/dist/contact.html') контакти
    .div-for-menu
        .menu-button  
            svg(width='21' height='15' viewbox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.0715 1.21429H19.9286M1.06836 7.5H19.9208M1.0715 13.7857H19.9208' stroke='#1A2335' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

        ul.langs
            li 
                a RU 
            li.active 
                a UA        