header.header
    a.logo(href='index.html')
        img(src="./img/logo.svg", alt="")
    .container
        .for-mobile        
            ul.menu
                li.menu-item-has-children.dropup.active                   
                    a(href="#") Компанія
                    ul.sub-menu
                        li
                            a(href='https://zaslavskayasya.github.io/baufest/dist/about.html') Про нас
                        li.active    
                            a(href='https://zaslavskayasya.github.io/baufest/dist/laboratory.html') Лабораторія
                        li    
                            a(href='https://zaslavskayasya.github.io/baufest/dist/partners.html') Партнерам
                        li    
                            a(href='https://zaslavskayasya.github.io/baufest/dist/complex.html') Виробничий комплекс
                li.menu-item-has-children.dropup
                    a(href="#") послуги                    
                    ul.sub-menu
                        li
                            a(href='https://zaslavskayasya.github.io/baufest/dist/design.html') Дизайн проект
                        li
                            a(href='https://zaslavskayasya.github.io/baufest/dist/material.html') Сипучі матеріали
                        li
                            a(href='https://zaslavskayasya.github.io/baufest/dist/delivery.html') Доставка і оплата
                        li
                            a(href='https://zaslavskayasya.github.io/baufest/dist/uklad.html') Укладання бруківки та тротуарної плитки
                li
                    a(href='https://zaslavskayasya.github.io/baufest/dist/catalog.html') Продукція
                li
                    a(href='https://zaslavskayasya.github.io/baufest/dist/advices.html') корисне
                li.active
                    a(href='https://zaslavskayasya.github.io/baufest/dist/gallery.html') Галерея
                li
                    a(href='https://zaslavskayasya.github.io/baufest/dist/contact.html') контакти
            .header-contacts
                ul.contacts-line
                    li.contacts-line-li 
                        a(href="telto:+380677340060").price-list 
                            img(src="./img/icons/phone-new.svg", alt="")  
                            span +38–067–734–00–60
                    li.contacts-line-li
                        a(href="") 
                            img(src="./img/icons/viber-new.svg", alt="")  
                    li.contacts-line-li
                        a(href="") 
                            img(src="./img/icons/telegram-new.svg", alt="") 
            .close-button 
                svg(width='17' height='16' viewbox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1.0003 14.9676L15.0238 1M1.0003 1L15.0241 14.9676' stroke='#1A2335' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            ul.langs.only-adaptive
                li 
                    a.disabled RU
                li.active 
                    a UA 
    .div-for-menu
        ul.contacts-line.only-adaptive
            li.contacts-line-li 
                a(href="telto:+380677340060").price-list 
                    img(src="./img/icons/phone-new.svg", alt="")
                    span.hide-in-adaptive +38–067–734–00–60
            li.contacts-line-li
                a(href="") 
                    img(src="./img/icons/viber-new.svg", alt="")  
            li.contacts-line-li
                a(href="") 
                    img(src="./img/icons/telegram-new.svg", alt="")
        .menu-button  
            svg(width='21' height='15' viewbox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.0715 1.21429H19.9286M1.06836 7.5H19.9208M1.0715 13.7857H19.9208' stroke='#1A2335' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        ul.langs.on-big-screen 
            li 
                a.disabled RU
            li.active 
                a UA        