@use '../helpers' as h;
@import '../foundation/base';
 
.catalog-page{
    .h1{
        margin-bottom: 50px;;
    }
    .h2{
        margin-bottom: 50px;
    }
    .three-in-row-wrap .wrap-item-image{
        height: 379px;
    }
    .items-info{
        @include standart-flex;  
        margin-bottom: 12px ;    
    }
    .item-subheader1{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: h.$primary-color;
        
    }
    .item-name.price{
        color: h.$accent-color;
        font-weight: 600;
    }
    .info-2{
        @include standart-flex; 
        .height{
            margin-bottom: 0px;;
        }
    }
    .height{
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #1A2335;
        span {
            font-weight: 700;
        }
    }
    .ul-icons{
        @include standart-flex; 
        li{
            position: relative;
            width: 25px;
            height: 25px;;
            &:not(:last-child){
                margin-right: 25px;
            }
            
            &:not(:last-child):after{
                content: ""; 
                display: block;
                position: absolute;
                right: -13px;
                top: 10px;
                width: 4px;
                height: 4px;
                background-color: #C1C1C1;
                border-radius: 100%;
                
            }
        }

    }
}


.breadcrambps, #breadcrambps{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;;
    flex-flow: wrap;
    span {
        position: relative;
        margin-right: 40px;
        align-items: center;;
        color:#1A2335;
        &:not(:last-child):after {
            content: "";
            display: block;
            width: 11px;
            height: 9px;
            position: absolute;
            top: 5px ;
            right: -25px;
            transform: rotate(-95deg);
            background-size: cover;
            background: url(../img/arrow-down-bold.svg);
    
        }
        &:last-child{
            color: #888C8F;
            span{
                font-weight: 400;
            }
        }
        span{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;    
            color: #1A2335;
        }
    }
}

.catalog-block{
    margin-bottom: 60px;
}

.choose-plitka{
    margin-bottom: 130px;
}

.choose-plitka{
    .size{
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #1A2335;
        margin-bottom: 10px;;
    }
    .normal_text{
        margin-bottom: 15px;;
    }
    .type-item {
        @include standart-flex;
        margin-bottom: 40px;;
        align-items: flex-start;
        .type-img-wrap{
            width: 50px;
            display: block;
            min-width: 46px;
            margin-right: 26px;;;
            img{
                width: 100%;
            }
        }
    }
    .text-part {
        @include standart-flex;
        align-items: flex-start;
        .wrap-img {
            width: 585px;
            float: right;
            img{
                width: 100%;
            }
    
        }
    }
    .image-block{
        position: relative;
    }
    .red-info-block {
        background: linear-gradient(-45deg,transparent 15px,#e11e1e 0);
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        height: auto;
        line-height: 17px;
        margin-top: 150px;
        padding: 36px 45px;
        transition: all .3s ease;
        width: 283px;
        position: absolute;
        bottom: -200px;
        right: 40px;
    }
}
.plitka-wrap{
    padding-right: 30px;;
    .h2 {
        max-width: 60%;
        margin-bottom: 60px;
    }
}

.scheme-slider{
    &.center-slider .slick-next, 
    &.center-slider .slick-prev{
        bottom: 50%;
    }
    .wrap-slider-img{
        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 30px;;
        li{
            margin: 0px 10px;
            .thumbnails{
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
            }
        }
    }
}



@media screen and (max-width: 1024px){
    .catalog-page .three-in-row-wrap .wrap-item-image {
        height: 279px;
    }
    .choose-plitka .text-part{
        flex-direction: column;
    }
    .choose-plitka .red-info-block{
        width: 90%;
    }
    .choose-plitka .image-block{
        align-self: center;
    }
    .choose-plitka {
        margin-bottom: 263px;
    }
    .choose-plitka .text-part .wrap-img {
        float: inherit;
        width: 100%;
    }
}


@media screen and (max-width: 768px){
    .catalog-page .three-in-row-wrap .wrap-item-image {
        height: 184px;
        width: 100%;
    }
    .catalog-page .h1 {
        margin-bottom: 30px;
    }
    .catalog-page .three-in-row-wrap .wrap-item-image {
        height: 164px;
    }
    .catalog-page .three-in-row-wrap .item {
        width: 48%;
        margin-bottom: 40px;;
    }
    .catalog-page .item-subheader1 {
        color: #1a2335;
        font-size: 13px;
        max-lines: 1;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 19px;
        margin-bottom: 8px;
        font-weight: 800;
    }
    .catalog-page .height{
        font-size: 12px;
        margin-bottom: 8px;;
    }
    .catalog-page .ul-icons li {
        height: 24px;
        position: relative;
        width: 26px;
    }
    .catalog-page .ul-icons li:not(:last-child) {
        margin-right: 12px;
    }
    .catalog-page .ul-icons li:not(:last-child):after {
        background-color: #c1c1c1;
        border-radius: 100%;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        right: -6px;
        top: 13px;
        width: 2px;
    }
    .catalog-page .items-info{
        margin-bottom: 8px;;
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog-page .info-2{
        flex-direction: column;
        align-items: flex-start;
    }

    .plitka-wrap .h2 {
        margin-bottom: 30px;
        max-width: 100%;
        .height{
        }
    }
    .catalog-page .info-2 .height{
        margin-bottom: 8px;;

    }

    .catalog-page .h2 {
        margin-bottom: 25px;
    }
    .catalog-block {
        margin-bottom: 20px;
    }
    .choose-plitka .type-item{
        margin-bottom: 25px;;
    }
    .choose-plitka .red-info-block {
        width: 89%;
        right: auto;
        left: 5%;
    }
    .choose-plitka .type-item .type-img-wrap {
        display: block;
        margin-right: 16px;
        min-width: 30px;
        width: 30px;
    }
    .choose-plitka .normal_text, p {
        line-height: 130%;
    }
    .plitka-wrap{
        padding-right: 0px;;
    }
    .scheme-slider .wrap-slider-img img {
        height: 300px;
    }
    .catalog-page .item-name.price{
        font-size: 11px ;
        font-weight: 600;
    }
    .catalog-page .height{
        font-size: 11px ;
        font-weight: 600;
        span{
            font-weight: 600;
        }
    }

}

@media screen and (max-width:500px){
    .three-in-row-wrap {
        justify-content: space-between;
    }
    .choose-plitka .red-info-block{
        position: relative;
    }
    .choose-plitka .red-info-block {
        left: 5%;
        right: auto;
        width: 89%;
        margin-top: 0;
        position: relative;
        bottom: 50px;
        padding: 15px;
    }
    .choose-plitka {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 340px){
    .catalog-page .three-in-row-wrap .wrap-item-image {
        height: 114px;
    }
}