@use '../helpers' as h;

.l-main {



}

.slide{
    padding-top: 33px;
    position: relative;
    .h1{
        margin-bottom: 34px;
        max-width: 857px;;
    }
    .button{
        position: absolute;
        right: 97px;
        top: 142px;
        cursor: pointer;
        &:hover{
            background:  linear-gradient(-45deg, transparent 15px, #8d0505 0);
 
        }

    }
}


.slick-arrow:before{
    content:""!important;
    font-size: 0;
    height: 18px!important;
    position: absolute;
    width: 10px!important;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slick-next:before{
    background: url(../img/arrow-right.svg)!important;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center;
}

.slick-prev:before{
    background: url(../img/arrow-left.svg)!important;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center;
}

.slick-arrow{
    z-index:2!important;
    width:40px!important;
    height:40px!important;
    position: relative;
    transition: all ease 0.3s;
}

.slick-next{
    font-size: 0px;;
    background-color: h.$accent-color;
    position: absolute;
    bottom: 37px;
    right: 6px;
    left: auto;
    &:hover{
        background-color: #c10909;
    }
}

.slick-prev{
    font-size: 0px;;
    background-color: #888C8F;
    position: absolute;
    bottom: 37px;
    right: 46px;
    left: auto;
    &:hover{
        background-color: #5c5d5d;
    }
}

.slick-arrow:before{
    opacity:1!important;
}


.slider__counter{
    position: absolute;
    bottom: -41px;
    left: 47%;
}

.slider-number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-transform: uppercase;
    /* 050505 */
    color: #1A2335;
}

.left-counter{
    padding-right: 20px;
    color: h.$accent-color;
}

.right-counter{
    margin-right: -20px;;
    padding-left: 42px;
    position: relative;
    &:before{
        content: "";
        font-size: 20px;
        height: 45px;
        left: 26px;
        position: absolute;
        background-color: #1A2335;
        top: -19px;
        -webkit-transform: rotate(20deg);
        transform: rotate(35deg);
        width: 1px;
        pointer-events: none;;
        
    }
}

.l-main{
    margin-bottom: 120px;;
}

.catalog{
    .h2{
        margin-bottom: 35px;
    }
    .h3{
        margin: 0 auto;
        max-width: 725px;;

    }
}

.wrap-catalog{
    display: flex; 
    justify-content: flex-start;
    flex-flow: wrap;
    margin-bottom: 59px;
    .card{
        width: 278px;
        margin-bottom: 15px;
        cursor: pointer;
        &:not(:nth-child(4n)){
            margin-right: 29px;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
    .card-image-wrap{
        width: 100%;
        height: 278px;
        margin-bottom: 12px;;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 0.3s;
        }
    }
    .card-texts{
        display: flex;;
        align-items: center;
        justify-content: space-between;
        .price{
            font-size: 14px;;
            color: h.$accent-color;
        }
    }

}

.container{
    // position: relative;
}

.inform-main{
    text-orientation: mixed;
    transform: rotate(-180deg);
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    position: absolute;
    left: 25px;
    top: 20%;
    display: flex;
    align-items: baseline;
    height: 700px;
    .inform-main-li{
        // margin-right: 20px;
        margin-top: 8px;;
    }
    a{
       font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px; 
        color: #1A2335; 
        display: block;
        display: flex;
        align-items: center ;
        transition: all ease 0.3s;
        &:hover{
            color: h.$accent-color;
        }
        img{
            margin-bottom: 15px;;
        }
    }
    .price-list {
        text-transform: uppercase;
        text-decoration: underline;
        padding: 80px 0px;
        
    }
}


.catalog .h3.arrow-prew{
    position: relative;
    margin-bottom: 71px;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: -70px;
        height: 106px;
        width: 23px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/strong-arrow.svg');

    }
}

.wrap-types{
        margin-bottom: 100px;    
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;
    .type-img-wrap, a.type-img-wrap {
        width: 100%;
        height: 153px;
        margin-bottom: 12px;;
        overflow: hidden;
        display: block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 0.3s;
        }
    }
    .type{
        width: 175px;
        &:not(:nth-child(6n)){
            margin-right: 28px;;
        }
        margin-bottom: 12px;;
        cursor: pointer;
         &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
    p {
        text-align: center;
        font-weight: 600;
    }
}


.advantages{
    margin-bottom: 68px;
    margin-bottom: 65px;;
    .h2{
        text-align: center;
        margin-bottom: 68px;
    }
    .advantages-wrap{
        display: flex;
        justify-content: space-between;
        .row-small{
            width: 27%;
            padding-top: 43px;
        }
        .row-center{
            width: 49%;
            .advantages-img-wrap{
                width: 514px;
                margin-left: 19px;
                img{
                    width: 100%;
                }
            }
        }
    }
    .normal_text_bold{
        font-size: 19px;
        font-weight: 700;
    }
    .advantages-row .check {
        margin-bottom: 106px;
    }
}



.check{
    margin-bottom: 15px;
    .check-img{
        width: 24px;
        height: 24px;
        margin-right: 12px;
        img{
            width: 100%;
        }
    }
}

.advantages-row .check{
    margin-bottom: 70px;
    padding-top: 0px;;
}


.mega-text{
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 140%;    
    text-align: center;
    text-transform: uppercase;    
    color: #474747;
    max-width: 85%;
    padding: 65px 0px;
    margin: 0 auto;
}

.price-list-block{
    padding: 34px 0px;
    position: relative;
    &.clean-background{
        &:before {
            display: none;;
        }
    }
    &:before{
        content: "";
        display: block; 
        pointer-events: none;
        z-index: 1;
        position: absolute; 
        top: 253px; 
        left: 0px;
        height: 90%; 
        width: 100%;
        background-color: #F2F2F2;
    }
    .container, .container-short{
        position: relative;
        z-index: 5;
    }

}

.wrapper-m {
    overflow: hidden;
    position: relative;
    height: 300px; /* Задайте висоту, яка вам потрібна */
  }
  
.marquee {  
    white-space: nowrap;
    // animation: marquee 10s linear infinite; /* Задайте бажану тривалість анімації */
}
  
  @keyframes marquee {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(-100%); /* Повністю заходить за ліву частину екрану */
    }
  }
// .marquee {
//     overflow: hidden;
//     display: flex;
//     position: absolute;
//     top: 0%;
//     right: 0%;
//     width: 100%;
//     margin-right: -100%;
//     z-index: 0;
// }
.dowload-block{
    .h2{
        margin-bottom: 85px;
    }
}
.wrap-download-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
    font-size: 35px;
    line-height: 123%;

}

.size{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;    
    color: #888C8F;
}

.download-place{
    display: flex;
    flex-direction: column;
    text-align: center;
    img{ 
        width: 85px;
        height: 85px;
        display: block;
        object-fit: cover;
        margin-bottom: 15px;
        margin: 0 auto 15px;
    }
    .download-link{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        text-transform: uppercase;        
        color: #1A2335; 
        margin-bottom: 10px;
        transition: all ease 0.3s;
        &:hover{
            color: h.$accent-color;
        }
    }
}


.back-text{
    font-style: normal;
    font-weight: 800;
    font-size: 152px;
    line-height: 211px;    
    text-transform: uppercase;    
    color: #F4F4F4;    
    opacity: 0.8; 
    // margin-right: 50px;
    text-align: center;
}

.catalog-place{
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 2;
    margin-bottom: 439px;
    // margin-top: -55px;
    // margin-left: -121px;;
    .catalog-img-wrap{
        max-width: 1049px;
        width: 980px;
        position: absolute;
        top: -383px;
        left: -208px;
        pointer-events: none;
        img{
            display: block;
            width: 100%;
            margin-left: -50px;
        }

    }
    .dowload-block{
        width: 37%;
        position: absolute;
        right: 44px;
        top: -56px;
    }
}



.faq-block{
    margin-bottom: 65px;
    padding-top: 10px;;
    .h2{
        margin-bottom: 10px;
    }
}

.accordion {
    background-color: transparent;
    color: #1A2335;
    cursor: pointer;

    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #1A2335;
    padding: 30px 0 ;
  }
  
.line {
    border-bottom: 1px solid #CACACA;
}

  .active, .accordion:hover {
    // background-color: #ccc;
  }
  
  .accordion:after {
    content: '';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    transition: all ease 0.3s ;
    background-image: url('../img/red-cross.svg');
    background-size: cover;;
  }
  
  .active:after {
    transform: rotate(45deg);
  }
  
  .panel {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #888C8F;
    p {
        margin-bottom: 35px;;
    }
  }


  .portfolio{
    padding: 65px 0px;
    .h2{
        margin-bottom: 0px;;
    }
  }



  .heading{
    display: flex;;
    justify-content: space-between;
    align-items: center;;
    margin-bottom: 35px;;
}
.link-to-all{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;        
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;        
    color: #1A2335;
    transition: all ease 0.3s;
    &:hover{
        color: h.$accent-color;
    }
     
}

.three-in-row-wrap {
    display: flex;
    flex-flow: wrap;
    .item {
        width:369px;
        margin-right: 45px;  
        margin-bottom: 47px;;      
        &:nth-child(3n){
            margin-right: 0px;
        }
    }
    .wrap-item-image{
        width: 100%;
        height: 235px;
        margin-bottom: 10px;;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 0.3s;
        }
        &:hover{
            img{
                transform: scale(1.1)

            }
        }
    }
    .item-subheader{
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 150%;
        color: #A9A9A9;
        margin-bottom: 3px;        
    }
    .p.item-subheader{
        margin-bottom: 3px;;
    }
    .item-name{
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.proposition-block{
    position: relative;
    z-index: 9;
    .h2{
        width: 400px;
        margin-bottom: 27px;
    }
    

}

.wrap-poposition{
    position: relative;
    justify-content: space-between;
    display: flex;
    padding-bottom: 130px;
    .wrap-poposition-illustration{
        height: 869px;
        left: 16%;
        position: absolute;
        top: -291px;
        width: 925px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .left-part{
        padding-left: 120px;;
        z-index: 12;
    }
    .left-block{
        background: linear-gradient(-46deg,transparent 45px,#e11e1e 0);
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        height: auto;
        line-height: 18px;
        margin-top: 118px;
        margin-left: -23px;
        padding: 36px 44px;
        transition: all .3s ease;
        width: 283px;        
    }
    .right-part{
        width: 269px;
        margin-top: -74px;
        .check{
            align-items: flex-start;
            margin-bottom: 64px;;
        }

    }
    p.normal_text{
        font-weight: 400;
    }
}


.about-section {
    margin-bottom: 125px;
}


.about-wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    // padding-bottom: 100px;;
    position: relative;
    .part-1{ 
        width: 33%;
        .h2 {
            margin-bottom: 38px;
            width: 300px;
            line-height: 126%;

        }    
        .normal_text{
            margin-bottom: 15px;
            line-height: 147%;
        }   
    }
    .part-2 {
        width: 60%;
        margin-bottom: 62px ;
        .wrap-about-img{
            width: 100%;
            height: 518px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .part-3{
        width: 100%; 
        margin-bottom: 63px;
        .numbers{
            display: flex;
            justify-content: flex-start;
            li {
                width: 221px;
                margin-right: 40px ;
            }
            .number{
                font-style: normal;
                font-weight: 800;
                font-size: 80px;
                line-height: 98px; 
                color: #DEDEDE;
                opacity: 0.8;
                // margin-bottom: 20px;
            }
        }
    }
    .part-4{
        padding-left: 23%;
        width: 753px;
        .normal_text{
            margin-bottom: 22px;;
        }

    }
    .part-5{
        position: absolute;
        top: 390px; 
        right: -50px;
        z-index: 6;

    }

}
.form{ 
    width: 407px;
    background-color: #fff;
    padding: 52px 51px 52px  40px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    .h2{
        text-align: center;
        font-size: 24px;
        margin-bottom: 24px;;
    }
    .form-row{
        max-width: 252px;
        // margin-bottom: 24px;
        margin: 0 auto 24px;
        display: flex;;
        flex-direction: column;
        label{
            font-family: inherit;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #D6DBE0;
        }
        input::placeholder{
            font-family: inherit;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;                
            color: #888C8F;
        }
        input{
            color: #1A2335;
            width: 252px;
            height: 60px;
            background: #F7F7F7;
            padding-left: 15px;
        }
    }
    .buttom{
        margin: 0 auto;
        display: block;
        width: 250px;;
    }
    &.form-in-line{
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .form-row{
            margin-bottom: 0px;
            width: 32%;
            max-width: 32%;
            .button{
                margin-bottom: 0px;;
            }
            input{
                width: 100%;
            }
        }
    }  
}    

.iti--separate-dial-code .iti__selected-flag{
    background-color: #f7f7f7;
}
.adresses-wrap{
    margin-bottom: 120px;;
    .line{
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        &:not(:last-child){
            border-bottom: 1px solid #888C8F;
        }
    }
    .name-part{
        width: 277px;
        font-weight: 800;
    }
    .adress {
        width: 593px;
        padding-right: 177px;
        p {
            width: 70%;
            margin-bottom: 0px;;
        }
    }
    .phone{
        width: 277px;
        text-align: right;

    }
    .normal_text_bold{
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 700;
    }

}

.mb-80.mega-image{
    margin-bottom: 150px;;
}
.pluses-section{
    p.h4, .h4, h4{
      margin-bottom: 40px;;
    }
    .h2, h2{
        margin-bottom: 50px;;
    }
  }
  
 .inner-page{
    .h1{
        max-width: 60%;
    }
 } 

.catalog-block{
    p, p.item-name, .p.item-subheader1{
        margin-bottom: 0px;;
    }
}

@media screen and (max-width: 1127px){
    .about-wrap .part-1 {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-wrap .part-2{
        width: 100%;
    }
    .about-wrap .part-1 .h2{
        width: 100%;
        margin-bottom: 30px;;
    }
    .about-wrap .part-5 {
        right: -7px;
        top: 346px;
    }
    .back-text{
        font-size: 95px;
    }
    .catalog-place .catalog-img-wrap {
        left: -200px;
        max-width: 1049px;
        position: absolute;
        top: -294px;
        width: 881px;
    }
    .inner-page{
        .h1{
            max-width: 100%;
        }
     } 

}

@media screen and (max-width: 768px){
    .about-wrap {
        flex-direction: column;
        .part-1{ 
            width: 100%;
            // background-color: red;
        }
        .part-2 {
            width: 100%;
            // background-color: green;
        }
        .part-3{
            width: 100%; 
            // background-color: blueviolet;
        }
        .part-4{
            padding-left: 0%; 
            width: 100%;
            // background-color: palevioletred;
        }
        .part-5{
            position: relative;
            top:0px;
        }
    }
    .about-wrap .part-3 .numbers{
        flex-direction: column;
    }
    .about-wrap .part-3 .numbers li{
        margin: 0 auto;
        text-align: center;
    }
    .about-wrap .form{
        width: 100%;
        padding: 30px 15px 29px 15px;
    }
    .about-wrap{
        padding-bottom: 15px;;
    }
    .about-section{
        margin-bottom: 60px;;
    }
    .about-wrap .part-5{
        right: auto;
        left: auto;
        form{
            margin: 0 auto;
     }
    }
    .adresses-wrap .adress{
        width: 100%;
        padding-right: 0px;
    }
    .adresses-wrap .line{
        flex-direction: column;
        justify-content: flex-start;
    }
    .adresses-wrap .phone{
        text-align: left;;
    }
    .adresses-wrap .adress{
        margin-bottom: 15px;;
    }
    .adresses-wrap .adress p{
        margin-bottom: 15px;
        width: 100%;
    }
    .proposition-block{
        padding-top: 66px;
    }
    .wrap-poposition .right-part{
        margin-top: 0px;;
    }
    .check:before {
        height: 23px;
        left: 2px;
        top: 1px;
        width: 24px;
    }
    .mb-80.mega-image{
        margin-bottom: 80px;
    }

}




@media screen and (max-width: 1450px){
    .inform-main{
        display: none;;
    }
    .mega-text {
        font-size: 32px;
    }
}


@media screen and (max-width: 1222px){
    .wrap-catalog .card {
        margin-bottom: 30px;
        width: 23%;
    }
    .wrap-catalog .card:not(:nth-child(4n)) {
        margin-right: 28px;
    }
    .header{
        padding: 25px 15px;
    }
    .wrap-types .type:not(:nth-child(6n)) {
        margin-right: 14px;
    }
    .three-in-row-wrap .item{
        margin-right: 16px;
        width: 346px;
    }

}

@media screen and (max-width: 1165px){
    .wrap-types .type:not(:nth-child(6n)) {
        margin-right: auto;
    }
    .wrap-types .type:nth-child(6n) {
        margin-right: auto;
    }
    .advantages .advantages-wrap .row-center .advantages-img-wrap {
        width: 359px;
        margin: 0 auto;
    }
    .mega-text {
        font-size: 28px;
    }
}

@media screen and (max-width: 1118px){
    .wrap-types .type {
        width: 177px;
    }
    .wrap-types .type {
        margin-right: 15px;;
    }
    .wrap-types .type:nth-child(6n) {
        margin-right: 15px;;
    }
    .wrap-types .type:not(:nth-child(6n)) {
        margin-right: 15px;
    }
    .wrap-types{
        margin: 0 auto;
        width: 100%;
    }

    .three-in-row-wrap .item{
        margin-right: inherit;;
        width: 40%;
    }
    .three-in-row-wrap .item:nth-child(3n) {
        margin-right: inherit;
    }
    .three-in-row-wrap {
        justify-content: space-evenly;
    }
    .wrap-poposition .left-part {
        padding-left: 0px;

    }
    .wrap-poposition .wrap-poposition-illustration {
        height: 714px;
        left: 12%;
        position: absolute;
        top: -170px;
        width: 746px;
    }
    .wrap-poposition .right-part {
        width: 352px;
    }
}


@media screen and (max-width: 1100px){
    .slide{
        padding-top: 70px;
        position: relative;
        .h1{
            margin-bottom: 34px;
            max-width: 857px;;
        }
    }
    .slide .button{
        position: relative;
        display: block;
        top: auto;
        margin-top: 50px;
        right: auto;
        margin: 100px auto 0px;        
        width: 260px;

    }
    .slick-slide img{
        height: 350px;
        object-fit: cover;
        width: 100%;

    }
    .slick-next, .slick-prev {
        bottom: 178px;
    }
    .slider__counter {
        bottom: 116px;
        left: 44%;
    }
    .wrap-catalog .card {
        width: 31%;
    }
    .wrap-catalog .card:not(:nth-child(4n)) {
        margin-right: 0px;
    }
    .wrap-catalog .card:not(:nth-child(3n)) {
        margin-right: 28px;
    }
    .wrap-types .type:not(:nth-child(6n)), .wrap-types .type:nth-child(6n) {
        margin-right: auto;
    }    
    .wrap-poposition .wrap-poposition-illustration {
        left: 3%;
    }

}

@media screen and (max-width: 920px){
    .wrap-poposition{
        flex-direction: column;
    }
    .wrap-poposition .wrap-poposition-illustration {
        left: auto;
        position: relative;
        height: auto;
        width: 537px;
        top: -100px;
        order:1;
        margin: 20px auto 0px;
    }
    .proposition-block .h2 {
        margin: 0 auto 27px;
        width: auto;
        text-align: center;;

    }
    .left-part{
        order: 3;
    }
    .wrap-poposition .left-block{
        margin-top: 0px;
        order: 3;
    }
    .wrap-poposition .right-part{
        width: 100%;
        order: 2;
    }
    .catalog-place .catalog-img-wrap {
        left: -111px;
        max-width: 1049px;
        position: absolute;
        top: -197px;
        width: 606px;
    }
    .catalog-place .dowload-block {
        position: absolute;
        right: 44px;
        top: -24px;
        width: 37%;
        .h2{
            font-size: 24px;
        }
    }
    .download-place img {
        display: block;
        height: 60px;
        margin: 0 auto 15px;

        width: 63px;
    }


}



@media screen and (max-width: 868px) {
    .catalog .h3 {
        margin: 0 auto 34px;
        width: 550px;
    }
    .wrap-catalog .card:not(:nth-child(3n)) {
        margin-right: 18px;
    }
    .wrap-types .type:not(:nth-child(6n)), .wrap-types .type:nth-child(6n) {
        margin-right: initial;
    }
    .wrap-types{
        justify-content: space-between;
    }
    // .catalog-place{
    //     flex-direction: column;
    // }
    // .catalog-place .catalog-img-wrap{
    //     width: 100%;
    // }
    // .catalog-place .dowload-block {
    //     width: 100%;
    // }
    .heading .link-to-all{
        display: none;
    }

}

.heplpfull-block{
    margin-bottom:  100px;
}


@media screen and (max-width:768px) {
    .slide {
         padding-top: 30px;
    
    }
    .slide .h1{
        font-size: 22px;
    }
    .wrap-catalog{
        justify-content: space-between;
    }
    .wrap-catalog .card {
        width: 48%;
    }
    .wrap-catalog .card:not(:nth-child(3n)) {
        margin-right: 0px;
    }
    .l-main {
        margin-bottom: 60px;
    }
    .wrap-types .type{
        width: 105px;
    }
    .wrap-types .type-img-wrap{
        height: 105px;;
    }
    .wrap-catalog .card-image-wrap{
        height: 165px;
    }
    .card-texts .normal-text{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 75px;
    }
    .wrap-catalog{
        margin-bottom: 50px;
    }
    .catalog .h3.arrow-prew{
        margin-bottom: 50px;
    }
    .catalog .h3 {
        margin: 0px 0px 50px 34px;
        max-width: 240px;
    }
    .catalog .h3.arrow-prew:before {
        height: 62px;
        left: -32px;
        position: absolute;
        top: -1px;
        width: 13px;
    }
    .advantages-wrap{
        flex-direction: column;
    }
    .advantages .advantages-wrap .row-small {
        width: 100%;
        order: 1;
    }
    .advantages .advantages-wrap .row-center {
        width: 100%;
        order: 3;
    }
    .advantages .h2 {
        margin-bottom: 30px;
    }
    .check {
        margin-bottom: 15px;
        padding-top: 0px;
    }
    .advantages-row .check{
        margin-bottom: 15px;
        padding-top: 0px;;
    }
    .catalog{
        margin-bottom: 30px;;
    }
    .advantages .advantages-wrap .row-center .advantages-img-wrap{
        width: 280px;
        padding-top: 30px;;
    }
    .mega-text {
        padding: 30px 0px;
        font-size: 20px;
        width: 98%;
    }
    // .catalog-place .catalog-img-wrap img {
    //     margin-left: 0px;
    //     margin-bottom: 20px;;
    // }
    .dowload-block .h2 {
        margin-bottom: 55px;
        text-align: center;
    }
    .back-text{
        font-size: 80px;
        line-height: 100%;
    }

    .three-in-row-wrap .wrap-item-image {
        height: 265px;
        width: 265px;
    }
    .three-in-row-wrap {
        justify-content: space-evenly;
    }
    .three-in-row-wrap .item-name{
        font-size: 12px;
    }
    .heading .link-to-all{
        display: none;
    }
    .heading{
        justify-content: center;
        .h2{
            text-align: center;
        }
    }
    .price-list-block{
        padding-bottom: 0px;;
    }
    .wrap-poposition{
        margin-top: -120px;
    }
    .wrap-poposition .wrap-poposition-illustration {
        height: auto;
        left: auto;
        margin: 20px auto 0;
        order: 1;
        position: relative;
        top: 0px;
        width: 340px;
    }
    .wrap-poposition .right-part .check {
        margin-bottom: 24px;
    }
    .wrap-poposition .right-part{
        margin-bottom: 30px;
    }
    .wrap-poposition .left-block{
        width: 100%;
    }
    .faq-block .h2{
        margin-bottom: 5px;;
    }
    .accordion{
        padding: 29px 20px 29px 0px;
    }
    .accordion:after{
        margin-right: -15px;
    }
    .faq-block{
        margin-bottom: 30px;;
    }
    .portfolio{
        padding: 00px 0px;
    }
    .wrap-poposition{
        padding-bottom: 60px;;
        overflow: hidden;
    }
    .about-wrap .part-1 .normal_text{
        text-align: left;;
    }
    .about-wrap .part-2 .wrap-about-img{
        height: 100%;
    }
    .heplpfull-block{
        margin-bottom: 60px;
    }
    .catalog-place .dowload-block {
        position: relative;
        right: 0;
        top: -16px;
        width: 69%;
        padding-top: 346px;
        margin: 0 auto;
    }
    .catalog-place .catalog-img-wrap {
        left: 57px;
        max-width: 1049px;
        position: absolute;
        top: -129px;
        width: 606px;
    }
    .catalog-place{
        margin-bottom: 40px;
        flex-direction: column;
    }


}

@media screen and (max-width: 630px){
    .three-in-row-wrap .wrap-item-image {
        height: 270px;
        width: 270px;
    }
    .three-in-row-wrap .item {
        width: 48%;
    }

}

@media screen and (max-width: 605px){
    .three-in-row-wrap .wrap-item-image {
        height: 260px;
        width: 260px;
    }
    .catalog-place .dowload-block{
        width: 100%;
    }
    .catalog-place .catalog-img-wrap {
        left: -34px;
        max-width: 1049px;
        position: absolute;
        top: -119px;
        width: 540px;
    }
    .back-text {
        font-size: 56px;
        text-wrap: nowrap;
    }

}
@media screen and (max-width: 570px){
    .three-in-row-wrap .wrap-item-image {
        height: 240px;
        width: 240px;
    }
    .catalog-place .catalog-img-wrap {
        left: -11px;
        max-width: 1049px;
        position: absolute;
        top: -165px;
        width: 484px;
    }
    .catalog-place .dowload-block {
        margin: 0 auto;
        padding-top: 225px;
    }
    .download-place img {
        display: block;
        height: 85px;
        margin: 0 auto 15px;
        width: 85px;
    }
    .wrap-download-block{
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 530px){
    .three-in-row-wrap .wrap-item-image {
        height: 230px;
        width: 230px;
    }

}

@media screen and (max-width: 510px){
    .three-in-row-wrap .wrap-item-image {
        height: 210px;
        width: 210px;
    }

}

@media screen and (max-width: 455px){
    .three-in-row-wrap .wrap-item-image {
        height: 190px;
        width: 190px;
    }

}

@media screen and (max-width: 400px){
    .three-in-row-wrap {
        justify-content: space-between;
    }
    .three-in-row-wrap .item {
        width: 44%;
    }
    .three-in-row-wrap .wrap-item-image {
        height: 160px;
        width: 160px;
    }
    .three-in-row-wrap .item {
        margin-bottom: 17px;
    }
    .portfolio {
        padding: 30px 0;
    }
    .three-in-row-wrap .item {
        width: 47%;
    }

}


@media screen and (max-width: 374px){
    .wrap-types .type {
        width: 86px;
    }
    .wrap-types .type-img-wrap {
        height: 86px;
    }
    .part-2 {
        margin: 0px;
        width: 200px;
    }
}

@media screen and (max-width: 354px){
    .three-in-row-wrap .wrap-item-image {
        height: 140px;
        width: 140px;
    }
}