extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const catalogOne = true;

block header
  include components/header/_header

block main
  include components/main/_catalog_one

block footer
  include components/footer/_footer