extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const isCatalog = true;

block header
  include components/header/_header

block main
  include components/main/_catalog

block footer
  include components/footer/_footer