extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const isDelivery = true;

block header
  include components/header/_header

block main
  include components/main/_delivery

block footer
  include components/footer/_footer