extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const isDesign = true;

block header
  include components/header/_header

block main
  include components/main/_design

block footer
  include components/footer/_footer