extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const isLaboratory = true;

block header
  include components/header/_header

block main
  include components/main/_company_laboratory

block footer
  include components/footer/_footer