footer.l-footer
    .long-content 
        .wrap-footer
            .part-1 
                a(href="#").footer-logo 
                    img(src="./img/logo-white.svg", alt="")
            .part-2 
                ul.footer-nav 
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/catalog.html")  Продукція
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/advices.html")  корисне
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/about.html") Компанія
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/gallery.html")  Галерея
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/design.html")  послуги
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/contact.html")  контакти
            .part-3 
                .adres-line 
                    p.heading  Адрес:
                    .hedaing-content
                        a.heading-link(href="#") Одеська обл., село Усатове, ул. Зализничников, 22
                .adres-line 
                    p.heading  Телефон:
                    .hedaing-content  
                        a.heading-link(href="#") +38–067–734–00–60
                        a.heading-link(href="#") +38–067–734–00–60 
            .part-4
                .soc-block 
                    p.social-name Соц мережи:
                    ul.social-ul
                        li 
                            a(href="#") 
                                img(src="./img/icons/fb-1.svg", alt="")
                        li 
                            a(href="#")
                                img(src="./img/icons/link-1.svg", alt="") 
                        li 
                            a(href="#") 
                                img(src="./img/icons/inst-1.svg", alt="")
                        li 
                            a(href="#")
                                img(src="./img/icons/yt-1.svg", alt="")
                               
                .copy-block 
                    p Создание сайта — студия 
                        a(href="https://mart.com.ua/").underline Март



div.modal.modal-myModal
  div.modal-content
    span.close &times;
    form.form(action="")
      p.form-name.h2 Форма зв'язку
      .form-row
        label(for="name") Ім'я*
        input(type="text" name="fname" required placeholder="Введіть ваше ім'я")
      .form-row
        label(for="phone") Ваш телефон*
        input(type="tel" class="phone-flag" required placeholder="(097) 777–77–77")
        span#error-msg
      .form-row
        button(type="submit").button.button-small Замовити


div.modal.modal-thankYouModal
  div.modal-content
    span.close &times;
    p.h2.centered Дякуємо за ваше звернення!
    p.h4.red-text.centered Ми зв'яжемося з вами найближчим часом.

div.overlay.overlay-modal
