footer.l-footer
    .long-content 
        .wrap-footer
            .part-1 
                a(href="#").footer-logo 
                    img(src="./img/logo-white.svg", alt="")
            .part-2 
                ul.footer-nav 
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/catalog.html")  Продукція
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/advices.html")  корисне
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/about.html") Компанія
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/gallery.html")  Галерея
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/design.html")  послуги
                    li  
                        a(href="https://zaslavskayasya.github.io/baufest/dist/contact.html")  контакти
            .part-3 
                .adres-line 
                    p.heading  Адрес:
                    .hedaing-content
                        a.heading-link(href="#") Одеська обл., село Усатове, ул. Зализничников, 22
                .adres-line 
                    p.heading  Телефон:
                    .hedaing-content  
                        a.heading-link(href="#") +38–067–734–00–60
                        a.heading-link(href="#") +38–067–734–00–60 
            .part-4
                .soc-block 
                    p.social-name Соц сети:
                    ul.social-ul
                        li 
                            a(href="#") 
                                svg( viewbox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    g(clip-path='url(#clip0_371_122)')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 22.1228C0 33.0605 7.94383 42.1557 18.3333 44V28.1105H12.8333V22H18.3333V17.1105C18.3333 11.6105 21.8772 8.55617 26.8895 8.55617C28.4772 8.55617 30.1895 8.8 31.7772 9.04383V14.6667H28.9667C26.2772 14.6667 25.6667 16.0105 25.6667 17.7228V22H31.5333L30.5562 28.1105H25.6667V44C36.0562 42.1557 44 33.0623 44 22.1228C44 9.955 34.1 0 22 0C9.9 0 0 9.955 0 22.1228Z' fill='white')
                                    defs
                                        clippath#clip0_371_122
                                            rect(width='44' height='44' fill='white')
                        li 
                            a(href="#") 
                               svg(width='44' height='44' viewbox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M22 0C9.84958 0 0 9.84958 0 22C0 34.1504 9.84958 44 22 44C34.1504 44 44 34.1504 44 22C44 9.84958 34.1504 0 22 0ZM16.6146 31.1185H12.1596V16.7819H16.6146V31.1185ZM14.3596 15.0219C12.9525 15.0219 12.0427 14.025 12.0427 12.7921C12.0427 11.534 12.98 10.5669 14.4169 10.5669C15.8537 10.5669 16.7337 11.534 16.7612 12.7921C16.7612 14.025 15.8537 15.0219 14.3596 15.0219ZM32.8854 31.1185H28.4304V23.1733C28.4304 21.324 27.7842 20.0681 26.1731 20.0681C24.9425 20.0681 24.2115 20.9183 23.8883 21.7365C23.7692 22.0275 23.7394 22.44 23.7394 22.8502V31.1162H19.2821V21.3538C19.2821 19.564 19.2248 18.0675 19.1652 16.7796H23.0358L23.2398 18.771H23.3292C23.9158 17.836 25.3527 16.4565 27.7567 16.4565C30.6877 16.4565 32.8854 18.4204 32.8854 22.6417V31.1185V31.1185Z' fill='white')

                .copy-block 
                    p Создание сайта — студия 
                        a(href="https://mart.com.ua/").underline Март



div.modal.modal-myModal
  div.modal-content
    span.close &times;
    form.form(action="")
      p.form-name.h2 Форма зв'язку
      .form-row
        label(for="name") Ім'я*
        input(type="text" name="fname" required placeholder="Введіть ваше ім'я")
      .form-row
        label(for="phone") Ваш телефон*
        input(type="tel" class="phone-flag" required placeholder="(097) 777–77–77")
        span#error-msg
      .form-row
        button(type="submit").button.button-small Замовити


div.modal.modal-thankYouModal
  div.modal-content
    span.close &times;
    p.h2.centered Дякуємо за ваше звернення!
    p.h4.red-text.centered Ми зв'яжемося з вами найближчим часом.

div.overlay.overlay-modal
