link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap' rel='stylesheet')
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
link(href="./plugins/phone/css/intlTelInput.css" type="text/css" rel="stylesheet")
link(rel="stylesheet", href=cssPath + "style.min.css")

if catalogOne
    link(href="./plugins/lightbox/css/lightbox.css" type="text/css" rel="stylesheet")

if IsGalleryOne 
    link(href="./plugins/lightbox/css/lightbox.css" type="text/css" rel="stylesheet")
