.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdr.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps
            li.bread-li 
                a(href="index.html").bread-link Головна 
            li.bread-li 
                a(href="#").bread-link Корисні поради
        p.h1.mb-80 Корисні поради
            .portfolio-wrap.three-in-row-wrap 
                a(href="/advice.html").item 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.normal_text_bold Висоли на бруківці
                a(href="/advice.html").item 
                    .wrap-item-image
                        img(src="./img/portfolio/2.png", alt="")
                    p.normal_text_bold Як підібрати колір плитки?
                a(href="/advice.html").item 
                    .wrap-item-image
                        img(src="./img/portfolio/3.png", alt="")
                    p.normal_text_bold Як діє лабораторія виробникабораторія виробника бруківки
                a(href="/advice.html").item 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.normal_text_bold Як діє лабораторія виробника брукі...

                a(href="/advice.html").item 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.normal_text_bold Як підібрати колір плитки?
                a(href="/advice.html").item 
                    .wrap-item-image
                        img(src="./img/portfolio/2.png", alt="")
                    p.normal_text_bold Висоли на плитці
