.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdr.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps#breadcrambps
            span
                span 
                    a(href="index.html") Головна 
                span 
                    a(href="https://zaslavskayasya.github.io/baufest/dist/advieces.html")  Статті
                span
                    a(href="#" aria-current="page") Висоли на бруківці        
        p.h1 Висоли на бруківці
        .main-pick-place.mb-130
            img(src="./img/advice/1.png", alt="")
        p.h2 Що таке висоли?
        p.normal_text.mb-80 Висоли — це білі плями, розводи або світлий наліт на поверхні бруківки та інших бетонних виробів. Вапняні висоли виникають внаслідок фізико-хімічних реакцій, які відбуваються у бетоні.
        p.h2 Як і чому виникають висоли?
        p.normal_text Під час тужавіння і тверднення бетону в результаті хімічної реакції, котра відбувається між такими його складниками, як цемент і вода, виникають різні хімічні сполуки. Серед них — велика кількість Са(ОН)2, гідроксиду кальцію або звичайного гашеного вапна.
        p.normal_text Оскільки процес тверднення бетону може тривати протягом року, а деколи і довше, процес утворення гідроксиду кальцію, хоч і щоразу менш інтенсивний, відбувається так само довго. Власне, гідроксид кальцію і є першопричиною виникнення білого нальоту на поверхні бетонних виробів. Він, добре розчиняючись у воді, яка заповнює капіляри бетонного виробу, реагує в навколишньому середовищі з вуглекислим газом, що знаходиться в повітрі:
        .mega-text.mb-80 СаСО3 + СО2 + Н2О → Са(HCО3)2
        .two-parts-50.mb-80 
            .part-left.item-50 
                p.h2 Як і чому виникають висоли?
                .check  
                    p.normal_text_bold  Формує єдиний гармонійний стиль, що поєднує всі архітектурні та ландшафтні елементи
                .check  
                    p.normal_text_bold  Дозволяє підібрати оптимальні форми, кольору. розміри тротуарної плитки та їх поєднання    
            .part-right.item-50 
                img(src="./img/advice/1.png", alt="")
        p.h2 Як і чому виникають висоли?
        p.normal_text Під час тужавіння і тверднення бетону в результаті хімічної реакції, котра відбувається між такими його складниками, як цемент і вода, виникають різні хімічні сполуки. Серед них — велика кількість Са(ОН)2, гідроксиду кальцію або звичайного гашеного вапна.
        .three-in-row-wrap.advices-block.mb-80 
            a(href="#").item 
                .wrap-item-image
                    img(src="./img/advice/1.png", alt="")
                p.item-name.normal_text_bold Висоли
            a(href="#").item 
                .wrap-item-image
                    img(src="./img/advice/1.png", alt="")
                p.item-name.normal_text_bold Висоли
            a(href="#").item 
                .wrap-item-image
                    img(src="./img/advice/1.png", alt="")
                p.item-name.normal_text_bold Висоли
        p.h2 Як і чому виникають висоли?
            .video-part.mb-130 
                iframe(class="mb-130" src="https://www.youtube.com/embed/B2NOCifdFEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)