.catalog-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="/catalog-one.html").price-list 
                    img(src="img/pdf.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="/catalog-one.html") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps
            li.bread-li 
                a(href="/index.html").bread-link Головна 
            li.bread-li 
                a(href="/catalog-one.html").bread-link Каталог        

        p.h1 Каталог
        .catalog-block.premium-plitka 
            p.h2 Тротуарна плитка «Преміум»
            .three-in-row-wrap 
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/premium/ceglina.png", alt="")
                    .items-info    
                        p.item-subheader1 Цеглина без фаски
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/premium/linestone.png", alt="")
                    .items-info    
                        p.item-subheader1 Лайнстоун
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/premium/monoblock.png", alt="")
                    .items-info    
                        p.item-subheader1 Моноблок
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/premium/modern.png", alt="")
                    .items-info    
                        p.item-subheader1 Модерн
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
        .catalog-block.premium-plitka 
            p.h2 Тротуарна плитка «Стандарт»
            .three-in-row-wrap 
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/standart/cegla2.png", alt="")
                    .items-info    
                        p.item-subheader1 Цеглина
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/standart/katuska.png", alt="")
                    .items-info    
                        p.item-subheader1 Катушка
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/standart/nofas.png", alt="")
                    .items-info    
                        p.item-subheader1 Цеглина без фаски
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/standart/staremisto.png", alt="")
                    .items-info    
                        p.item-subheader1 Старе місто без фаски
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/standart/staremisto2.png", alt="")
                    .items-info    
                        p.item-subheader1 Старе місто без фаски
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
        .catalog-block.premium-plitka 
            p.h2 Промислова плитка
            .three-in-row-wrap 
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/prom/prom1.png", alt="")
                    .items-info    
                        p.item-subheader1 Хвиля
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/prom/prom2.png", alt="")
                    .items-info    
                        p.item-subheader1 Катушка
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/prom/prom3.png", alt="")
                    .items-info    
                        p.item-subheader1 Соти
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
        .catalog-block.premium-plitka 
            p.h2 Водовідвідні лотки
            .three-in-row-wrap 
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/water/1.png", alt="")
                    .items-info    
                        p.item-subheader1 Водовідвідний лоток
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/water/2.png", alt="")
                    .items-info    
                        p.item-subheader1 Прикромковий
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
        .catalog-block.premium-plitka 
            p.h2 Бордюри
            .three-in-row-wrap 
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/bord/1.png", alt="")
                    .items-info    
                        p.item-subheader1 Бордюр
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")
                a(href="/catalog-one.html").item 
                    .wrap-item-image
                        img(src="./img/catalog/bord/2.png", alt="")
                    .items-info    
                        p.item-subheader1 Поребрик
                        p.item-name.price   от 110 грн м²
                    .info-2 
                        p.height Висота: 
                            span 60 мм
                        ul.ul-icons
                            li 
                                img(src="./img/icons/person.svg", alt="")
                            li 
                                img(src="./img/icons/car.svg", alt="")
                            li 
                                img(src="./img/icons/truck.svg", alt="")
                            li 
                                img(src="./img/icons/truck2.svg", alt="")

.choose-plitka
    .container
        .text-part 
            .plitka-wrap
                p.h2  ВИБІР ТРОТУАРНОЇ ПЛИТКИ
                .types-wrap 
                    .type-item 
                        .type-img-wrap 
                            img(src="./img/icons/person.svg", alt="")
                        .type-information 
                            p.size > 40 мм 
                            p.normal_text  Пішохідна зона. Призначена для тротуарів, садово-паркових доріжок, прибудинкової території, де виключений заїзд транспорту.     
                    .type-item 
                        .type-img-wrap 
                            img(src="./img/icons/car.svg", alt="")
                        .type-information 
                            p.size >  60 мм
                            p.normal_text Рух легкового транспорту. Призначена для покриття де можливий заїзд легко-вого транспорту з масою до 3,5 тон, а також тротуарів і прибудинкових територій.
                            p.normal_text 
                                span.bold Наприклад: 
                                | прибудинкові проїзди, автостоянки, тротуари.
                    .type-item 
                        .type-img-wrap 
                            img(src="./img/icons/truck.svg", alt="")
                        .type-information 
                            p.size  > 80 мм 
                            p.normal_text Рух вантажного транспорту. Призначена для покриття з інтенсивним рухом транспорту, в тому числі вантажного транспорту. 
                            p.normal_text 
                                span.bold Наприклад: 
                                |  АЗС, автобусні станції, дороги і шля-хопроводи, внутрішньоквартальні проїзди, автостоянки.
                    .type-item 
                        .type-img-wrap 
                            img(src="./img/icons/person.svg", alt="")
                        .type-information 
                            p.size > 100 мм
                            p.size > 120 мм
                            p.normal_text Рух важкого вантажного транспорту. Призначена для покриття з великими навантаженнями та інтенсивним рухом вантажного транспорту, в тому числі важкого вантаж-ного транспорту. 
                            p.normal_text 
                                span.bold Наприклад: 
                                |  вантажні термінали, порти, перевалочні і промислові майданчики.
            .image-block
                .wrap-img 
                    img(src="./img/catalog/oldcity2.png", alt="") 
                .red-info-block 
                    p Для правильного вибору тротуарної плитки необхідно визначитися з функціональним при-значенням тротуарного або дорожнього покриття, а також визначити граничні навантаження на це покриття. Після цього підібрати необхідну товщину тротуарної плитки.


.where-to-buy-block 
    .container 
        .heading 
            p.h2 Де купити
        .wrap-map 
            iframe(src="https://www.google.com/maps/d/embed?mid=19w2cl_BS3q3aweKnTc4hvxcehORwsxU&ehbc=2E312F" width="100%" height="480")
        .adresses-wrap 
            .line 
                .name-part
                    p.normal_text_bold  «Флагман»
                .adress 
                     p.normal_text Одеська Область, с.Хлібодарське, вул.Тираспольське Шосе, буд.14
                .phone      
                    a(href="/catalog-one.html") + 380 99 555 66 44   
            .line 
                .name-part
                    p.normal_text_bold  «Флагман»
                .adress 
                     p.normal_text Одеська Область, с.Хлібодарське, вул.Тираспольське Шосе, буд.14
                .phone      
                    a(href="/catalog-one.html") + 380 99 555 66 44   
            .line 
                .name-part
                    p.normal_text_bold  «Флагман»
                .adress 
                     p.normal_text Одеська Область, с.Хлібодарське, вул.Тираспольське Шосе, буд.14
                .phone      
                    a(href="/catalog-one.html") + 380 99 555 66 44   
            .line 
                .name-part
                    p.normal_text_bold  «Флагман»
                .adress 
                     p.normal_text Одеська Область, с.Хлібодарське, вул.Тираспольське Шосе, буд.14
                .phone      
                    a(href="/catalog-one.html") + 380 99 555 66 44   