.catalog-page-one.catalog-page
    .container
        ul.breadcrambps#breadcrambps
            span
                span 
                    a(href="index.html") Головна 
                span 
                    a(href="https://zaslavskayasya.github.io/baufest/dist/catalog.html")  Каталог
                span
                    a(href="#" aria-current="page") Лайнстоун
        p.h1 Лайнстоун 
            span.only-mob.slide-price від 260 грн/м
        .wrap-whole-slider
            .wrap-button.only-desktop 
                .slide-price від 260 грн/м
                    sup 2
                .button.openModal Замовити             
            .catalog-slider 
                .slide 
                    .wrap-slider-img
                        img(src="./img/slider/1.jpg", alt="")
                .slide                 
                    .wrap-slider-img
                        img(src="./img/catalog/linestone/500_340.jpg", alt="")
                .slide
                    .wrap-slider-img
                        img(src="./img/catalog/linestone/old_citi_razm_1_17.webp", alt="")
            .gallery-type-nav
                .slide 
                        img(src="./img/slider/1.jpg", alt="")
                .slide              
                        img(src="./img/catalog/linestone/500_340.jpg", alt="")
                .slide                
                        img(src="./img/catalog/linestone/old_citi_razm_1_17.webp", alt="")
        .new-catalog-links.tabs-wrap 
                p.h3   Обрати вистоу плитки:
                .wrap-two-buttons 
                    .size-tab.button(data-size="40") 40 мм
                    .size-tab.button.active(data-size="60") 60 мм
                    .size-tab.button(data-size="80") 80 мм

      
        //- p.normal_text Обрати вистоу плитки: 
        //- .tabs-wrap 
        //-     .size-tab(data-size="40") 
        //-         span.tab-size 40 мм
        //-     .size-tab.active(data-size="60")
        //-         span.tab-size 60 мм
        //-     .size-tab(data-size="80") 
        //-         span.tab-size 80 мм
    .container    
        p.h2  Характеристики
        .char-block(data-tab="40")
            .char-row 
                .char-left 
                    p.normal_text Висота, ММ
                .char-right 
                    p.normal_text 40
            .char-row 
                .char-left 
                    p.normal_text Розміри у комплекті, ММ
                .char-right 
                    p.normal_text 300х300; 300х150; 150х150
            .char-row 
                .char-left 
                    p.normal_text Наявність фаски
                .char-right 
                    p.normal_text мікрофаска
            .char-row 
                .char-left 
                    p.normal_text Вага 1 піддону, КГ
                .char-right 
                    p.normal_text 1307
            .char-row 
                .char-left 
                    p.normal_text Водопоглинання, НЕ >, %
                .char-right 
                    p.normal_text 6
            .char-row 
                .char-left 
                    p.normal_text Вкладочка площа С 1 , КВ. М
                .char-right 
                    p.normal_text 14,4
            .char-row 
                .char-left 
                    p.normal_text Клас бетону
                .char-right 
                    p.normal_text B35
            .char-row 
                .char-left 
                    p.normal_text Морозостійкість, F
                .char-right 
                    p.normal_text F200  
        .char-block(data-tab="60").active         
            .char-row 
                .char-left 
                    p.normal_text Висота, ММ
                .char-right 
                    p.normal_text 60
            .char-row 
                .char-left 
                    p.normal_text Розміри у комплекті, ММ
                .char-right 
                    p.normal_text 300х300; 300х150; 150х150
            .char-row 
                .char-left 
                    p.normal_text Наявність фаски
                .char-right 
                    p.normal_text мікрофаска
            .char-row 
                .char-left 
                    p.normal_text Вага 1 піддону, КГ
                .char-right 
                    p.normal_text 1307
            .char-row 
                .char-left 
                    p.normal_text Водопоглинання, НЕ >, %
                .char-right 
                    p.normal_text 6
            .char-row 
                .char-left 
                    p.normal_text Вкладочка площа С 1 , КВ. М
                .char-right 
                    p.normal_text 14,4
            .char-row 
                .char-left 
                    p.normal_text Клас бетону
                .char-right 
                    p.normal_text B35
            .char-row 
                .char-left 
                    p.normal_text Морозостійкість, F
                .char-right 
                    p.normal_text F200
        .char-block(data-tab="80")
            .char-row 
                .char-left 
                    p.normal_text Висота, ММ
                .char-right 
                    p.normal_text 80
            .char-row 
                .char-left 
                    p.normal_text Розміри у комплекті, ММ
                .char-right 
                    p.normal_text 300х300; 300х150; 150х150
            .char-row 
                .char-left 
                    p.normal_text Наявність фаски
                .char-right 
                    p.normal_text мікрофаска
            .char-row 
                .char-left 
                    p.normal_text Вага 1 піддону, КГ
                .char-right 
                    p.normal_text 1307
            .char-row 
                .char-left 
                    p.normal_text Водопоглинання, НЕ >, %
                .char-right 
                    p.normal_text 6
            .char-row 
                .char-left 
                    p.normal_text Вкладочка площа С 1 , КВ. М
                .char-right 
                    p.normal_text 14,4
            .char-row 
                .char-left 
                    p.normal_text Клас бетону
                .char-right 
                    p.normal_text B35
            .char-row 
                .char-left 
                    p.normal_text Морозостійкість, F
                .char-right 
                    p.normal_text F200


.characteristick     
    .back-text Характеристики
    .container
        .descriptin-block
            p.h2 Файна плитка
            .text-block(data-tab="40") 
                p.normal_text (40) Лінійка тротуарної плитки «Лайнстоун» - це сучасне вишукане рішення при облаштуванні приватних будинків, паркових зон, тротуарів, міських площ.
                p.normal_text Особливість тротуарної плитки «Лайнстоун» - це відсутність фаски, яка дозволяє створювати візуально безперервні масиви різних колірних рішень при укладанні. 
                p.normal_text Плитка доступна в колірній гамі «ColorMix» від BAUFEST. Вибрати можна будь-яку комбінацію кольорів на свій смак: від пастельних до контрастних, від оранжево-білих до чорно-коричневих. Гамма «ColorMix» має 12 колірних варіантів, які перевершують доступні на сьогодні палітри натурального каменю та інших подібних покриттів.
            .text-block(data-tab="60").active 
                p.normal_text (60) Лінійка тротуарної плитки «Лайнстоун» - це сучасне вишукане рішення при облаштуванні приватних будинків, паркових зон, тротуарів, міських площ.
                p.normal_text Особливість тротуарної плитки «Лайнстоун» - це відсутність фаски, яка дозволяє створювати візуально безперервні масиви різних колірних рішень при укладанні. 
                p.normal_text Плитка доступна в колірній гамі «ColorMix» від BAUFEST. Вибрати можна будь-яку комбінацію кольорів на свій смак: від пастельних до контрастних, від оранжево-білих до чорно-коричневих. Гамма «ColorMix» має 12 колірних варіантів, які перевершують доступні на сьогодні палітри натурального каменю та інших подібних покриттів.
            .text-block(data-tab="80") 
                p.normal_text (80 та інщий текст для порівняння) - це сучасне вишукане рішення при облаштуванні приватних будинків, паркових зон, тротуарів, міських площ.
                p.normal_text Особливість тротуарної плитки «Лайнстоун» - це відсутність фаски, яка дозволяє створювати візуально безперервні масиви різних колірних рішень при укладанні. 
                p.normal_text Плитка доступна в колірній гамі «ColorMix» від BAUFEST. Вибрати можна будь-яку комбінацію кольорів на свій смак: від пастельних до контрастних, від оранжево-білих до чорно-коричневих. Гамма «ColorMix» має 12 колірних варіантів, які перевершують доступні на сьогодні палітри натурального каменю та інших подібних покриттів.


.container    
    .actual-colors-block
        p.h2 Доступні кольори
        p.h4 Моноколір:
        .wrap-types
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/1.png" data-lightbox="colors")
                    img(src="./img/catalog/linestone/colors/1.png", alt="")
                p.normal-text_bold Uhfysn    
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/2.png" data-lightbox="colors")
                    img(src="./img/catalog/linestone/colors/2.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/3.png" data-lightbox="colors")
                    img(src="./img/catalog/linestone/colors/3.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/4.png" data-lightbox="colors")
                    img(src="./img/catalog/linestone/colors/4.png", alt="")
                p.normal-text Uhfysn    
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/5.png" data-lightbox="colors")
                    img(src="./img/catalog/linestone/colors/5.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/6.png" data-lightbox="colors") 
                    img(src="./img/catalog/linestone/colors/6.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/7.png" data-lightbox="colors") 
                    img(src="./img/catalog/linestone/colors/7.png", alt="")
                p.normal-text_bold Uhfysn    
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/8.png" data-lightbox="colors") 
                    img(src="./img//catalog/linestone/colors/8.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/9.png" data-lightbox="colors")
                    img(src="./img/catalog/linestone/colors/9.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/colors/10.png" data-lightbox="colors")
                    img(src="./img/catalog/linestone/colors/10.png", alt="")
                p.normal-text_bold Uhfysn

        .heading
            p.h4 ColorMix:
            a.button(href="#").only-desktop ЗАВАнтажити “Інструкція по Colormix”
        .wrap-types
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/1.png" data-lightbox="mix") 
                    img(src="./img/catalog/linestone/mix/1.png", alt="")
                p.normal-text_bold Uhfysn    
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/2.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/2.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/3.png" data-lightbox="mix") 
                    img(src="./img/catalog/linestone/mix/3.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/4.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/4.png", alt="")
                p.normal-text Uhfysn    
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/5.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/5.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/6.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/6.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/7.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/7.png", alt="")
                p.normal-text_bold Uhfysn    
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/8.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/8.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/9.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/9.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/10.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/10.png", alt="")
                p.normal-text_bold Uhfysn    
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/11.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/11.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                a.type-img-wrap(href="./img/catalog/linestone/mix/12.png" data-lightbox="mix")  
                    img(src="./img/catalog/linestone/mix/12.png", alt="")
                p.normal-text_bold Uhfysn 
        a.button(href="#").only-mob ЗАВАнтажити “Інструкція по Colormix”        
    
.catalog-page-one.catalog-page 
    .actual-colors-block
        .container
            p.h2 Схеми укладання
            p.h3 Однотонні схеми укладання
            .scheme-slider.center-slider 
                .slide 
                    .wrap-slider-img
                        img(src="./img/uklad/1.png", alt="")
                .slide 
                    .wrap-slider-img
                        img(src="./img/uklad/2.png", alt="")
                .slide 
                    .wrap-slider-img
                        img(src="./img/uklad/1.png", alt="")
                .slide 
                    .wrap-slider-img
                        img(src="./img/uklad/2.png", alt="")
                .slide 
                    .wrap-slider-img
                        img(src="./img/uklad/1.png", alt="")
            .gallery-type-nav2
                .slide 
                        img(src="./img/slider/1.jpg", alt="")
                .slide              
                        img(src="./img/catalog/linestone/500_340.jpg", alt="")
                .slide 
                        img(src="./img/slider/1.jpg", alt="")
                .slide              
                        img(src="./img/catalog/linestone/500_340.jpg", alt="")    
                .slide 
                        img(src="./img/slider/1.jpg", alt="")
    .gallery-block 
        .container
            .wrap-header-links
                p.h2.text-center Приклади
                a(href="#").all-link галерея
            .gallery 
                .parent
                    .div1.img-wrp.img-height
                        a(href="./img/portfolio/1.png" data-lightbox="gallery")                         
                            img(src="./img/portfolio/1.png", alt="")
                    .div2.img-wrp.img-height
                        a(href="./img/portfolio/2.png" data-lightbox="gallery")   
                            img(src="./img/portfolio/2.png", alt="") 
                    .div3.img-wrp.img-height
                        a(href="./img/portfolio/3.png" data-lightbox="gallery")   
                            img(src="./img/portfolio/3.png", alt="")
                    .div4.img-wrp.img-height
                        a(href="./img/catalog/standart/cegla2.png" data-lightbox="gallery")    
                            img(src="./img/catalog/standart/cegla2.png", alt="")
                    .div5.img-wrp.img-height
                        a(href="./img/catalog/standart/katuska.png" data-lightbox="gallery")    
                            img(src="./img/catalog/standart/katuska.png", alt="")
                    .div6.img-wrp
                        a(href="./img/catalog/standart/nofas.png" data-lightbox="gallery")  
                            img(src="./img/catalog/standart/nofas.png", alt="")
                    .div7.img-wrp.img-height
                        a(href="./img/portfolio/1.png" data-lightbox="gallery")                         
                            img(src="./img/portfolio/1.png", alt="")
                    .div8.img-wrp.img-height
                        a(href="./img/portfolio/2.png" data-lightbox="gallery")   
                            img(src="./img/portfolio/2.png", alt="") 
                    .div9.img-wrp.img-height
                        a(href="./img/portfolio/3.png" data-lightbox="gallery")   
                            img(src="./img/portfolio/3.png", alt="")
.container.for-catalog
    .catalogs-update 
        .two-parts-50 
            .part-left.item-50                     
                p.h2  Каталог і прайс-лист по тротуарній плитці  
                p.normal_text  Щоб дізнатися більше про наш асортимент і ознайомитися з доступними цінами, завантажуйте каталог та прайс-лист.
            .part-right.item-50 
                img(src="./img/catalog-pic.jpg", alt="")
            .new-catalog-links 
                p.h3   Каталог та прайс- лист від BAUFEST
                .wrap-two-buttons 
                    a.button(href="#" download) ЗАВАнтажити КАТАЛОГ
                    a.button(href="#" download) ЗАВАнтажити прайс- лист
.back-text.back-new.margin-top прайс-лист