.partners-page.inner-page
    .container
        ul.breadcrambps#breadcrambps
            span
                span 
                    a(href="index.html") Головна 
                span 
                    a(aria-current="page") Партнерам
 
        p.h1 Партнерам
        .main-pick-place.main-screen-page
            img(src="./img/partners/1.png", alt="")
            .button.openModal  Стати партнером
        p.h2.centered.mb-80   Ми зацікавлені у налагодженні бізнес-контактів з: 
        .two-parts-50.60-per.mb-50 
            .part-left.item-40 
                p.h4.flex-start 
                    img.small-icon(src="./img/store.svg", alt="")
                    | Торгуючими організаціями
            .part-right.item-60 
                p.normal_text Ставши нашим постійним клієнтом ви зможете розраховувати на максимально вигідні спеціальні ціни, постійну наявність продукції на складі, консультаційну підтримку.
        .two-parts-50.mb-50 
            .part-left.item-40 
                p.h4.flex-start  
                    img.small-icon(src="./img/trowel.svg", alt="")
                    | Будівельними фірмами
            .part-right.item-60 
                p.normal_text Забезпечимо зручну систему взаєморозрахунків, значні знижки, гарантії на якість продукції та виконання термінів постачання.
        .two-parts-50.mb-50 
            .part-left.item-40 
                p.h4.flex-start  
                    img.small-icon(src="./img/blueprint.svg", alt="")
                    | Дизайнерами та архітекторами
            .part-right.item-60 
                p.normal_text Запрошуємо до співпраці студії дизайну, дизайнерів та архітекторів, що працюють у сфері оформлення екстер'єрів. Ми візьмемо на собі всі технічні питання: замір, доставка та укладання. А вам, у свою чергу, буде надано гнучку систему знижок, широку складську програму та великий обсяг зразків.
        .two-parts-50.mb-50 
            .part-left.item-40 
                p.h4.flex-start  
                    img.small-icon(src="./img/security-helmet.svg", alt="")
                    | Виконробами
            .part-right.item-60 
                p.normal_text Гарантуємо вам цікаві ціни на продукцію, а також компетентну консультацію щодо підбору потрібного товару. Будівельні фірми. Забезпечимо зручну систему взаєморозрахунків, значні знижки, гарантії на якість продукції та виконання термінів постачання.
        .two-parts-50.mb-80 
            .part-left.item-40 
                p.h4.flex-start  
                    img.small-icon(src="./img/hammer.svg", alt="")
                    | Будівельними бригадами
            .part-right.item-60 
                p.normal_text Ми зацікавлені у підтримці партнерських відносин із приватними бригадами та будівельними організаціями. Стабільні поставки та чітке дотримання термінів, налагоджена система доставки дозволять вам у повному обсязі задовольнити потреби Ваших клієнтів.
        .two-parts-50.mb-130.connect-block 
            .part-left.item-60 
                P.grey-60.mb-50 
                    | Ми будемо раді бачити вас серед наших партнерів!
                p.normal_text.toclient Щоб стати нашим постійним клієнтом, необхідно зв'язатися з нами за телефоном:
                a(href="tel").flex-start.simple-link.mb-50
                    img(src="./img/red-phone.svg", alt="")
                    | +38-067-734-00-60
                .flex-start.reset
                    p.normal_text.reset-mb Або заповнити форму 
                    img(src="./img/arrow-to-right.svg", alt="")
            .part-right.item-40 
                form.form(action="")
                    p.form-name.h2 Дізнайтеся, якими перевагами володіють наші партнери:
                    .form-row 
                        label(for="name")  Ім'я*
                        input(type="text" name="fname" required placeholder="Введіть ваше ім'я")
                    .form-row 
                        label(for="lastName")  Прізвище*
                        input(type="text" name="lastName" required placeholder="Введіть ваше прізвище")
                    .form-row 
                        label(for="phone")  Ваш телефон*
                        //- #phone
                        input(type="tel" id="phone" required placeholder="(097) 777–77–77")
                        span#error-msg
                    .form-row 
                        label(for="mail")  E-mail
                        input(type="mail" name="mail" required placeholder="Введіть ваши e-mail")
                    .form-row    
                        button(type="submit").button.button-small   Отримати знижку   
        .pluses-section
            p.h2.mb-50 Переваги співпраці з нами
            .mb-80
                p.h4 Будівельні організації
                .main-pick-place
                    img(src="./img/partners/2.png", alt="")
                .flex-start 
                    .check  
                        p.normal_text_bold  технічна експертиза
                    .check  
                        p.normal_text_bold  виготовлення виробів за індивідуальними вимогами
                    .check  
                        p.normal_text_bold  гарантія на товар
                .flex-start 
                    .check  
                        p.normal_text_bold  сертифіковані вироби
                    .check  
                        p.normal_text_bold  зручність оплати
                    .check  
                        p.normal_text_bold  шеф монтаж
                .flex-start 
                    .check  
                        p.normal_text_bold  виїзд фахівця на об'єкт
                    .check  
                        p.normal_text_bold  консультацій щодо продукту
                    .check  
                        p.normal_text_bold  додаткові послуги
                .flex-start
                    .check  
                        p.normal_text_bold  закріплений менеджер
                    .check  
                        p.normal_text_bold  широкий асортимент
            .mb-80
                p.h4 Дилери
                .main-pick-place
                    img(src="./img/partners/3.png", alt="")
                .flex-start 
                    .check  
                        p.normal_text_bold  прозора цінова та регіональна політики
                    .check  
                        p.normal_text_bold  сильний, відомий на ринку України бренд
                    .check  
                        p.normal_text_bold  онлайн-замовлення через "Кабінет Партнера"
                .flex-start 
                    .check  
                        p.normal_text_bold  надійні та швидкі поставки
                    .check  
                        p.normal_text_bold  технічна експертиза
                    .check  
                        p.normal_text_bold  розширена гарантія на товари
                .flex-start 
                    .check  
                        p.normal_text_bold  виготовлення виробів на замовлення
                    .check  
                        p.normal_text_bold  закріплений менеджер
                    .check  
                        p.normal_text_bold  навчання персоналу дилера очне / онлайн
                .flex-start
                    .check  
                        p.normal_text_bold  доступ до технічної інформації
                    .check  
                        p.normal_text_bold  консультація менеджерів клієнтів дилера
            .mb-130
                p.h4 Укладачі
                .main-pick-place
                    img(src="./img/partners/5.png", alt="")
.container
    .want-more-block.mb-130 
        p.big-back-text  Хочу знати більше!
        p.h2.centered Залиште заяку та дізнайтесь БІЛЬШЕ ІНФОРМАЦІЇ 
        form.form.form-in-line(action="")            
            .form-row 
                label(for="name")  Ім'я*
                input(type="text" name="fname" required placeholder="Введіть ваше ім'я")
            .form-row 
                label(for="phone")  Ваш телефон*
                //- #phone
                input(type="tel" id="phone2" required placeholder="(097) 777–77–77")
                span#error-msg
            .form-row    
                button(type="submit").button.button-small  Надіслати


