.laboratory-page.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdf.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps
            li.bread-li 
                a(href="#").bread-link Головна 
            li.bread-li 
                a(href="#").bread-link Лабораторія   
        p.h1 Лабораторія підприємства
        .main-pick-place
            img(src="../img/lab/lab1.png", alt="")
    .container-short 
        .two-parts-50.mb-80 
            .part-left.item-50 
                p.h2 Про лабараторію
            .part-right.item-50 
                p.normal_text Наявність своєї лабораторії дозволяє супроводжувати всі етапи виробництва продукції BAUFEST від розробки рецептур до контролю властивостей готових виробів на об'єктах. Ми використовуємо лабораторне обладнання MATEST- лідера у виробництві випробувального устаткування для бетонів. 
                p.normal_text Наша продукція має всі необхідні сертифікати відповідності та паспорта якості.
.large-block
    .long-wrap
        .wrap-image 
            img(src="../img/lab/2.png", alt="") 
        .wrap-image 
            img(src="../img/lab/4.png", alt="")
        .wrap-image 
            img(src="../img/lab/9.png", alt="")
        .wrap-image 
            img(src="../img/lab/5.png", alt="")

.container-short.mb-80
    p.normal_text Якість продукції компанії «БАУФЕСТ» підтверджена сертифікатами відповідності та періодичними випробуваннями, які здійснюють спеціалізовані лабораторії, акредитовані у системі УкрСЕПРО.
    p.normal_text На території підприємства уже 3 роки діє власна лабораторія, яка проводить приймально-здавальні випробування продукції відповідно до вимог ДСТУ Б В.2.7-145:2008 «Вироби бетонні тротуарні неармовані».
    p.normal_text В лабораторії підприємства визначаються основні фізико-технічні властивості та геометричні розміри готової продукції. 

.container
    p.h2.centered.mb-80 Серед цих показників ключовими є:
    .flex.flex-5.indicators.mb-80 
        .item 
            .item-header-image 
                img(src="./img/resilience.svg", alt="")
            p.normal_text_bold  Міцність на стиск   
        .item 
            .item-header-image 
                img(src="./img/drop.svg", alt="")
            p.normal_text_bold   Водопоглинання
        .item 
            .item-header-image 
                img(src="./img/thermometer.svg", alt="")
            p.normal_text_bold   Морозостійкість
        .item 
            .item-header-image 
                img(src="./img/length.svg", alt="")
            p.normal_text_bold   Відхилення від геометричних параметрів
        .item 
            .item-header-image 
                img(src="./img/friction.svg", alt="")
            p.normal_text_bold   Стираність
    .two-parts-50.mb-80.icons-contain
        .descriptin-block.icons-contain 
            .item.flex 
                .item-header-image 
                    img(src="./img/resilience.svg", alt="")
                p.h3 Міцність     

            .text-block 
                p.normal_text Це здатність бетону чинити опір руйнуванню під дією зовнішніх навантажень. 
                p.normal_text Показником міцності бетону є його марка М, яка визначає межу міцності на стиск в кг/см2, тобто навантаження, при якому має місце руйнування зразків бетону. Довговічними за міцністю вважаються вироби, які зберігають міцність під час впливу звичайних зовнішніх умов i дотриманні правил експлуатації.
    .table-type2.mb-80
        .table-header
            .col-1 
                p.normal_text_bold.centered Довжина та ширина виробів, мм
            .col-2-big 
                .row-1.group-name 
                    p.normal_text_bold.centered
                        | Граничні відхилення, мм
                .row-2  
                    .col-1 
                        p.normal_text довжина, ширина
                    .col-2   
                        p.normal_text    товщина
        .table-inner
            .col-1 
               p.normal_text До 250 включно
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  ±3
                    .col-2   
                        p.normal_text     ±3
        .table-inner
            .col-1 
               p.normal_text Понад 250, до 750
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  ±4
                    .col-2   
                        p.normal_text     ±3
    .two-parts-50.mb-80.icons-contain
        .descriptin-block.icons-contain 
            .item.flex 
                .item-header-image 
                    img(src="./img/drop.svg", alt="")
                p.h3 Водопоглинання
            .text-block 
                p.normal_text Властивість матеріалу поглинати воду і утримувати її. Величина водопоглинання визначається різницею маси взірця, насиченого водою, і взірця в абсолютно сухому стані. Від показника водопоглинання у значній мірі залежить марка бетону за морозостійкістю.
    .two-parts-50.mb-80.icons-contain
        .descriptin-block.icons-contain 
            .item.flex 
                .item-header-image 
                    img(src="./img/thermometer.svg", alt="")
                p.h3 Морозостійкість
            .text-block 
                p.normal_text Здатність зберігати фізико-механічні властивості при багаторазовому поперемінному заморожуванні та відтаванні. Морозостійкість бетону характеризується відповідною маркою за морозостійкістю F (число циклів заморожування та відтавання зразків, при яких зберігаються їх початкові властивості).
    .table-type-3.mb-80 
        .table-row.header 
            .col-1  
                p.h4 Розрахункова температура повітря довкілля найбільш холодної пʼятиденки району будівництва, °С
            .col-2  
                p.h4 Марка бетону за морозостійкістю
        .table-row
            .col-1  
                p.normal_text Нижче -45
            .col-2  
                p.normal_text F300
        .table-row
            .col-1  
                p.normal_text -15...-45
            .col-2  
                p.normal_text F200
        .table-row
            .col-1  
                p.normal_text -5...-15
            .col-2  
                p.normal_text F150
        .table-row
            .col-1
                p.normal_text 0…-5
            .col-2
                p.normal_text F100
    .two-parts-50.mb-80.icons-contain
            .descriptin-block.icons-contain 
                .item.flex 
                    .item-header-image 
                        img(src="./img/friction.svg", alt="")
                    p.h3 Стираність
                .text-block 
                    p.normal_text Властивість матеріалу змінюватись в об’ємі та масі під дією тертя. Випробування стирання лицьової поверхні бруківки проводиться на лабораторному крузі стирання.
    .table-type2.table-type-4.mb-80
        .table-header
            .col-1 
                p.normal_text_bold.centered Параметр
            .col-2-big 
                .row-1.group-name 
                    p.normal_text_bold.centered
                        | Показники
                .row-2  
                    .col-1 
                        p.normal_text згідно ДСТУ
                    .col-2   
                        p.normal_text продукції Озон
        .table-inner
            .col-1 
               p.normal_text Клас бетону виробів за міцністю на стиск
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  Не менше B25
                    .col-2   
                        p.normal_text   Не менше B35
        .table-inner
            .col-1 
               p.normal_text Міцність на стиск, МПа
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  Не менше 32.1
                    .col-2   
                        p.normal_text  Не менше 51.3
        .table-inner
            .col-1 
               p.normal_text Марка бетону за морозостійкістю
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  Не менше FIOO
                    .col-2   
                        p.normal_text  Не менше F2OO
        .table-inner
            .col-1 
               p.normal_text Кількість циклів заморожування та відтавання
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  Не менше IOO
                    .col-2   
                        p.normal_text   Не менше 2OO
        .table-inner
            .col-1 
               p.normal_text Фактичні відхилення геометричних параметрів: довжина, ширина, товщина (мм).До 250 мм
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text ±3
                    .col-2   
                        p.normal_text  до 2
        .table-inner
            .col-1 
               p.normal_text Фактичні відхилення геометричних параметрів:
                    | довжина, ширина, товщина (мм).
                    | 250-750 MM
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  ±4
                    .col-2   
                        p.normal_text  до 2
        .table-inner
            .col-1 
               p.normal_text Міцність на стиск, МПа
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  Не менше 32.1
                    .col-2   
                        p.normal_text  Не менше 51.3
        .table-inner
            .col-1 
               p.normal_text Водопоглинання, % за масою
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  Не більше 6
                    .col-2   
                        p.normal_text  Не більше 2,2
        .table-inner
            .col-1 
               p.normal_text Стираність, г/см2
            .col-2-big 
                .row-1.group-name                    
                .row-2  
                    .col-1 
                        p.normal_text  Не більше 0,7
                    .col-2   
                        p.normal_text  0,29
.container-short.mb-130
    p.normal_text Як бачимо, усі наведені параметри продукції компанії “Baufest” є кращими за рекомендовані ДСТУ значення
    p.normal_text Згідно нового національного стандарту ДСТУ Б EN 1338:2016, який має на меті гармонізувати систему українських стандартів з європейськими нормами, показник міцності на стиск для бруківки замінюється міцністю на розрив при розламуванні, а для бетонних плит – міцністю на згин.

.grey-backgrounds
    .container-short 
        .two-parts-50.mb-80 
            .part-left.item-50 
                p.h2 Дослідження міцності бруківки на розрив
            .part-right.item-50 
                p.normal_text Для заміру міцності бруківки на розрив при розламуванні контрольний взірець встановлюється на опорну плиту гідравлічного преса і, після введення параметрів дослідження, в автоматичному режимі поступово навантажується верхньою опорною плитою аж до руйнування бруківки.
                p.normal_text Після закінчення випробування прилад показує значення міцності бруківки та будує відповідний графік. Згідно ДСТУ Б EN 1338:2016 показник міцності на розрив має становити не менше 3,6 МПа, у даному випробуванні ми отримали значення 7,15 МПа.
    .large-block
        .long-wrap.center-slider
            .wrap-image 
                img(src="../img/lab/6.png", alt="") 
            .wrap-image 
                img(src="../img/lab/7.png", alt="")
            .wrap-image 
                img(src="../img/lab/8.png", alt="")
            .wrap-image 
                img(src="../img/lab/9.png", alt="")
    .container-short 
        .two-parts-50.mb-80 
            .part-left.item-50 
                p.h2 Контроль сировини
            .part-right.item-50 
                p.normal_text Ще одним важливим аспектом діяльності лабораторії є вхідний контроль сировинних матеріалів та підбір оптимального складу бетонної суміші. Завдяки цьому досягаються високі експлуатаційні та естетичні характеристики готових виробів.
                p.normal_text Також інженери-технологи компанії “БАУФЕСТ” займаються розробкою нових кольорів бруківки, а також типів поверхонь колор-мікс.  Так, новинками нашого асортименту є бежевий колір основної поверхні, три типи поверхні колор-мікс (“ТЕРРА”, “ТРАВЕРТІН” і “КАПРІ”).
    .large-block
        .long-wrap.center-slider
            .wrap-image 
                img(src="../img/lab/10.png", alt="") 
            .wrap-image 
                img(src="../img/lab/11.png", alt="")
            .wrap-image 
                img(src="../img/lab/12.png", alt="")
            .wrap-image 
                img(src="../img/lab/13.png", alt="")
            .wrap-image 
                img(src="../img/lab/10.png", alt="") 
            .wrap-image 
                img(src="../img/lab/11.png", alt="")
            .wrap-image 
                img(src="../img/lab/12.png", alt="")
            .wrap-image 
                img(src="../img/lab/13.png", alt="")
.container
    .want-more-block.mb-130 
        p.big-back-text  Хочу знати більше!
        p.h2.centered Залиште заяку та дізнайтесь БІЛЬШЕ ІНФОРМАЦІЇ 
        form.form.form-in-line(action="")            
            .form-row 
                label(for="name")  Ім'я*
                input(type="text" name="fname" required placeholder="Введіть ваше ім'я")
            .form-row 
                label(for="phone")  Ваш телефон*
                //- #phone
                input(type="tel" id="phone" required placeholder="(097) 777–77–77")
                span#error-msg
            .form-row    
                button(type="submit").button.button-small  Надіслати