.about-company-page.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdr.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps#breadcrambps
            span
                span 
                    a(href="index.html") Головна 
                span 
                    a(aria-current="page" href="№")  Каталог        
        p.h1 Наш завод
        .about-slider-wrap
            .main-slider 
                .slide 
                    .wrap-slider-img
                        img(src="./img/slider/1.jpg", alt="")
                .slide                 
                    .wrap-slider-img
                        img(src="./img/slider/1.jpg", alt="")
                .slide 
                    .wrap-slider-img
                        img(src="./img/slider/1.jpg", alt="")
                .slide
                    .wrap-slider-img
                        img(src="./img/slider/1.jpg", alt="")
    .container-short.about-company-block
        p.h2.centered Про компанію
        p.normal_text  BAUFEST - це завод з виробництва дрібноштучних бетонних виробів методом вібропресування: фігурні елементи мощення тротуарів та доріг, бордюрний камінь, елементи зміцнення укосів
        p.normal_text Компанія «BAUFEST» була створена у січні 2018 року у м. Одеса.
        p.normal_text Пять років ми наполегливо працюємо для задоволення потреб наших споживачів. Більшість цього часу було присвячене виробництву бруківки методом вібропресування напівсухої бетонної суміші. Ми регулярно поповнюємо ринок будівельних матеріалів України фігурними елементами мощення торгової марки «BAUFEST».
        p.normal_text Ми маємо великий асортимент продукції, що відкриває безліч можливостей для облаштування різних територій: тротуарів, автомобільних доріг, парків, терас, приватних дворів та ін.
        p.normal_text Гнучкість підходів та логістичні потужності дозволяють нам співпрацювати з різними категоріями клієнтів та виконувати завдання будь-якої складності. Наші відділи продажу обслуговують як професійних, так і приватних замовників.
        p.normal_text Постійні вдосконалення технології виробництва, вивчення світового досвіду, пошук нових форм та ідей дозволяють нам презентувати продукцію найвищого європейського рівня.
    .container.about-company-block 
        p.h2.centered Виробник якісної тротуарної плитки
        p.normal_text.centered.center-heading Сьогодні фірма продовжує впроваджувати виробничі інновації. Яскравим свідченням цього є щосезонне розширення асортименту продукції новими видами тротуарної плитки, аналогів яких немає в Україні, а також регулярне введення в експлуатацію нових потужностей.
        .two-parts-50 
            .part-left.item-50 
                .check                     
                    p.normal_text_bold  Виробнича потужність понад 600 тис. м.кв. тротуарної плитки на рік;        
                .check                 
                    p.normal_text_bold  Власна залізнична гілка для вивантаження інертних матеріалів;
                .check                 
                    p.normal_text_bold  Матеріали, які використовують у виробництві, відповідають найвищим вимогам;
            .part-right.item-50 
                img(src="./img/company/factory1.png", alt="")
        .two-parts-50 
            .part-left.item-50 
                .check
                    p.normal_text_bold  Контроль якості продукції у власній лабораторії;
                .check
                    p.normal_text_bold  Застосування інноваційних технологій;
                .check
                    p.normal_text_bold  Продукція відповідає вимогам ГОСТ;
                .check
                    p.normal_text_bold  Наявність паспортів якості та сертифіката відповідності
            .part-right.item-50 
                img(src="./img/company/factory2.png", alt="")
    .container 
        .two-parts-50 
            .part-left.item-50 
                p.h2 Про Наше виробництво
            .part-right.item-50 
                p.normal_text Ми використовуємо обладнання провідних виробників галузі вібропресування – HESS GROUP та PRINZING-PFEIFFER GmbH.
                p.normal_text Найновіша розробка лідерів світового ринку оснащена високопродуктивною автоматичною системою управління, що дозволяє випускати бетонні вироби високої якості та з високою точністю. Ключові здобутки європейських виробників адаптовані під українські нормативні вимоги.
.large-block 
    .two-parts-50.no-response 
        .item-50 
            img(src="./img/company/factory3.png", alt="")
        .item-50 
            img(src="./img/company/factory4.png", alt="")

.container-short.mb-130
    p.normal_text В технологічному процесі виробництва вібропресованої бетонної продукції BAUFEST рівень автоматизації сягнув європейських стандартів. Автоматизовані та інтегровані у загальний комп’ютерний моніторинг всі основні виробничі процеси, зокрема: дозування компонентів бетонної суміші, їх змішування, визначення водоцементного співвідношення з використанням електронної діагностики вологості інгредієнтів, формування виробів з бетону, режими витримки відформованих елементів, пакування готової продукції для транспортування.
    p.normal_text Для забезпечення технологічної надійності виробництва, контролю якості вхідної сировини та приймально-здавальних випробувань бетонної продукції з 2019 року на BAUFEST функціонує вимірювальна заводська лабораторія. Вимірювальна лабораторія обладнана сучасним високоточним лабораторним обладнанням провідних виробників Європи («MATEST» Італія,) для здійснення повного комплексу досліджень фізикомеханічних, хімічних та експлуатаційних властивостей виробів з бетону на всіх етапах виготовлення готової продукції. У вимірювальній лабораторії працює висококваліфікований та професійно навчений інженерно-технічний персонал який забезпечує контроль за дотриманням нормативних та технологічних вимог при виробництві бетонної продукції гарантованої якості.
    p.normal_text Для забезпечення виробництва високоякісними інертними матеріалами, які постачають з центральних регіонів України, збудований приколійний склад та висотні залізничні путя.сЦе дало можливість здійснювати вагонні поставки продукції по всій території України. 
    p.normal_text У 2022 Ми отримали Торгівельну марку ТМ BAUFEST. Тому замовник купуючи продукцію нашої торгової марки BAUFEST гарантовано отримує продукцію найвищогї якості за яку ми несемо свої персональні гарантії
   
.container 
    .two-parts-50 
        .part-left.item-50 
            p.h2 10 років гарантії
            p.normal_text Бруківка ТМ BAUFEST прослужить вам довгі роки без втрати своїх властивостей та зовнішнього вигляду. Ми надаємо гарантію на весь асортимент на 10 років, щоб ви точно не сумнівалися в її якості. Та ми впевнені, що наша бруківка прослужить набагато довше.
            p.normal_text Уся наша продукція відповідає Нормам ДСТУ
        .part-right.item-50 
            img(src="./img/company/sertificate.png", alt="")
    p.big-back-text.arr-after    Сертифікати Якості 

.container-short.mb-130
    p.normal_text Компанія «БАУФЕСТ» постійно розвивається — збільшує асортимент продукції, удосконалює якість послуг і виробів, збільшує кількість клієнтів та партнерів. 
    p.normal_text Політика підприємства спрямована на підвищення рівня обслуговування, забезпечення максимально швидкого та зручного здійснення замовлення і отримання споживачами готової продукції. Саме тому, дбаючи про ефективну співпрацю, БАУФЕСТ  активно розширює представницьку мережу. Сьогодні наша компанія представлена ринку м. Одеси та Одеської  області.
    p.normal_text На підприємстві постійно працює відділ продажу. Основні засади роботи з клієнтами компанії — комфортні умови, вичерпні консультації, індивідуальний підхід. Кваліфіковані поради менеджерів допоможуть Вам швидко та приємно пройти увесь шлях від моменту вибору бруківки до отримання готової продукції.
    p.normal_text Прогулявшись виставковим майданчиком, відчувши фактуру бруківки на дотик, Ви зможете прийняти оптимальне рішення щодо вибору продукції. А Ваші діти отримають незабутні враження, досліджуючи величезне барвисте полотно, «зіткане» з бруківки. Тому запрошуємо завітати до нас усією сім’єю.

.container.mb-130 
    .two-parts-50 
        .part-left.item-50 
            p.h2 Принципи, на яких ґрунтується діяльність Baufest
            .check
                p.normal_text_bold  Спеціальні знання
                p.normal_text Baufest пропагує постійне підвищення технічних компетенцій, які дозволяють нам розвиватися і рухатися вперед, розробляти інноваційні рішення та постійно вдосконалювати продукцію.
            .check
                p.normal_text_bold  Мотивація
                p.normal_text Поєднання досвіду та нових ідей – це те, що просуває компанію вперед. Водночас це запорука успішного виконання вимог замовників та дотримання зобов'язань перед ними.
            .check
                p.normal_text_bold  Перспектива
                p.normal_text Як інноваційне підприємство, БАУФЕСТ ретельно вивчає ринки та прислухається до пропозицій клієнтів. Компанія спирається на минулий успіх та бачить майбутнє галузі у нових можливостях диджиталізації та моделювання.
            .check
                p.normal_text_bold  Цінності
                p.normal_text За кожним рішенням мають стояти довіра, відповідальність та мужність. У Baufest стверджують: «Ми віримо у свої здібності та маємо сміливість розвиватися, рухатися далі та разом відкривати нові горизонти. Ми усвідомлюємо свою відповідальність і сумлінно та робимо свою справу».
        
        .part-right.item-50 
            img(src="./img/company/factory6.png", alt="")

.price-list-block.clean-background
    .wrapper-m
        .back-text прайс-лист
    .container
        .catalog-place
            .catalog-img-wrap 
                img(src="./img/catalog2.png", alt="")
            .dowload-block 
                p.h2 Завантажити наш каталог і прайс-лист по тротуарній плитці
                .wrap-download-block
                    .download-place 
                        img(src="./img/pdf2.svg", alt="")
                        a.download-link(href="https://as.ua/offline/AS_UA_Catalog_May2017_Units.pdf" target="_blanc" download) 
                            | Завантажити каталог 
                        span.size    171 kb
                    .download-place 
                        img(src="./img/pdf3.svg", alt="")
                        a.download-link(href="https://as.ua/offline/AS_UA_Catalog_May2017_Units.pdf" target="_blanc" download) 
                            | Завантажити каталог 
                        span.size   171 kb