.conpany-page.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdr.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps#breadcrambps
            span
                span 
                    a(href="index.html") Головна 
                span 
                    a(aria-current="page") Виробничий комплекс
        p.h1 Виробничий комплекс
        .main-pick-place
            img(src="./img/complex/1.png", alt="")
    .container-short.about-company-block.mb-130
        p.h2.centered Нововедення у виробництві
        p.normal_text  В основу виробничої діяльності компанії «БАУФЕСТ» покладений передовий європейський досвід влаштування дорожньо-транспортного покриття із бетонних фігурних елементів мостіння (ФЕМ).
        p.normal_text Виробничі потужності компанії «БАУФЕСТ» забезпечує надсучасна лінія з виробництва фігурних елементів мощення, а також бетонних префабрикатів — бордюрів, поребриків, клумб, палісадів — та іншої продукції з напівсухого бетону HESS GROUP і PRINZING-PFEIFFER GmbH. 
        p.normal_text Лінія була змонтована та введена в єксплуатацію у 2019 році. Тому на сьогодні це надсучасніше підприємство Одеської області з виробництва бруківки.
        p.normal_text Підприємство виготовляє бетонні вироби методом вібропресування бетонної суміші. Виробництво оснащене сучасним обладнанням, що дозволяє впроваджувати та використовувати передові європейські технології виготовлення бетонних елементів мощення.
        p.normal_text Такі підходи відкривають широкі можливості виготовлення бетону з добавками та оригінальними фактурами, покликаними забезпечити найрізноманітніші потреби споживачів. Такі нововведення дають суттєві переваги та перспективи у виробництві. Завдяки впровадженню передових технологій щороку наш асортимент збільшується, серед яких є бетонні вироби з абсолютно новими конфігураціями, оригінальною структурою поверхні та багатшою кольоровою гамою. Ці досягнення кількісно та якісно збагачують пропозицію для наших клієнтів і партнерів.
.grey-backgrounds.mb-130
    .container
        .two-parts-50 
            .part-left.item-50 
                p.h2 Виробничі потужності
            .part-right.item-50 
                p.normal_text Технологічною новинкою є поверхня колор-мікс, яка забезпечує поєднання кількох кольорів на одному бетонному виробі. При цьому кожна бруківка отримує унікальний малюнок поверхні.
    .large-block.mb-80
        .long-wrap.center-slider
            .wrap-image 
                img(src="./img/lab/6.png", alt="") 
            .wrap-image 
                img(src="./img/lab/7.png", alt="")
            .wrap-image 
                img(src="./img/lab/8.png", alt="")
            .wrap-image 
                img(src="./img/lab/9.png", alt="")
    .container-short
        p.normal_text Окрім заводів з продукування фігурних елементів мощення, до виробничого комплексу БАУФЕСТ належать склади інертних матеріалів, інерційний грохот (сортувально-очисна установка), склад дозрівання виробів, відкриті склади готової продукції, інші складські приміщення, лабораторія, склад барвників, автостоянка. 
        p.normal_text Загальна площа перелічених вище об’єктів та територій складає понад 5 га.
        p.normal_text Запорукою ефективного функціонування виробничого процесу є постачання сировини, тому для забезпечення швидких та безперебійних поставок інертних матеріалів у 2019 році було збудовано власну під’їзну залізничну колію підприємства. 
        p.normal_text Це досягнення дозволяє більш оптимально будувати логістичну стратегію компанії, а відтак позитивно впливає на всі подальші етапи виробничого циклу.
.container 
    p.h2.centered Технологічний процес
    .two-parts-50 
        .part-left.item-50.flex-top 
            p.grey-number 01
            p.h3 Підготовка сировини та виготовлення бетонної суміші
        .part-right.item-50 
            p.normal_text Технологічний процес виготовлення бруківки розпочинається із підготовки сировини, а саме – ретельного очищення та просіювання щебеню і піску. Підготовану сировину через спеціальні сектори подають до бетонного заводу, де перемішують з іншими компонентами: водою, цементом, барвниками, різного роду добавками, що покращують властивості бетону.
            p.normal_text На виході отримують напівсухий бетон (з низьким водоцементним співвідношенням), розподілений для двох шарів бетонних елементів — верхнього та нижнього. Конструкція бетонного вузла забезпечує досконале автоматизоване дозування сировини та мікрохвильове визначення вологості бетону.
            p.normal_text Отримана бетонна суміш надходить до бункерів вібропресу.
.large-block
    .long-wrap
        .wrap-image 
            img(src="./img/complex/2.png", alt="") 
        .wrap-image 
            img(src="./img/complex/3.png", alt="")
        .wrap-image 
            img(src="./img/complex/4.png", alt="")
        .wrap-image 
            img(src="./img/complex/5.png", alt="")
.container 
    .two-parts-50 
        .part-left.item-50.flex-top 
            p.grey-number 02
            p.h3 Вібропресування та дозрівання продукції
        .part-right.item-50 
            p.normal_text У вібропресі бетонна суміш подається у спеціальну форму (відповідно до бажаної конфігурації майбутнього бетонного виробу), в якій і відбувається вібраційне ущільнення.
            p.normal_text Одразу ж після виготовлення сформовані вироби на окремих палетах перевозяться в камеру дозрівання.
            p.normal_text Ця камера дозволяє зберігати близько 3 тис. квадратних метрів бруківки одночасно, що дає змогу до двох діб витримувати вироби в камері, мікроклімат якої максимально сприятливий для тверднення бетону.
            p.normal_text Окрім бруківки, компанія «БАУФЕСТ» виготовляє інші бетонні елементи, такі як бордюри, поребрики, водовідвідні лотки тощо. 
.large-block 
    .two-parts-50.no-response 
        .item-50 
            img(src="./img/complex/6.png", alt="")
        .item-50 
            img(src="./img/complex/7.png", alt="")
.container 
    .two-parts-50 
        .part-left.item-50.flex-top 
            p.grey-number 03
            p.h3 Пакування та відвантаження на склад готової продукції
        .part-right.item-50 
            p.normal_text Коли фігурні елементи досягають потрібної міцності, продукція готова до завершальних етапів виробничого циклу. Бруківка проходить ретельний контроль якості, а потім доставляється і попалетно подається на спеціалізовану лінію пакування. Після цього упаковані в стретч-плівку вироби на дерев’яних палетах транспортуються на склад готової продукції, де автановантажувачем розподіляються в ряди. Після досягнення відпускної міцності вироби відвантажуються клієнтам.
            p.normal_text ТОВ «БАУФЕСТ» пропонує доставку та розвантаження продукції маніпуляторами та вантажними площадками.
.large-block.mb-80 
    .two-parts-50.no-response 
        .item-50 
            img(src="./img/complex/8.png", alt="")
        .item-50 
            img(src="./img/complex/9.png", alt="")
.container.mb-130 
    p.h2 ВІДЕО З ВИРОБНИЦТВА
    .video-part.mb-130 
        iframe(class="mb-130" src="https://www.youtube.com/embed/B2NOCifdFEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
.container
    .want-more-block.not-up
        p.big-back-text  Хочу знати більше!
        p.h2.centered Залиште заяку та дізнайтесь БІЛЬШЕ ІНФОРМАЦІЇ 
        form.form.form-in-line(action="")            
            .form-row 
                label(for="name")  Ім'я*
                input(type="text" name="fname" required placeholder="Введіть ваше ім'я")
            .form-row 
                label(for="phone")  Ваш телефон*
                //- #phone
                input(type="tel" id="phone" required placeholder="(097) 777–77–77")
                span#error-msg
            .form-row    
                button(type="submit").button.button-small  Надіслати