.inner-page.contact-page
    .container
        ul.breadcrambps#breadcrambps
            span
                span 
                    a(href="index.html") Головна 
                span 
                    a(aria-current="page") Контакти
        .heading 
            p.h1 Контакти
            p.normal_text У звʼязку з воєнним станом просимо уточнювати графік роботи за телефоном:
        .main-pick-place.main-screen-page
            .wrap-map 
                iframe(src="https://www.google.com/maps/d/embed?mid=19w2cl_BS3q3aweKnTc4hvxcehORwsxU&ehbc=2E312F" width="100%" height="580")
            .button 
                img(src="./img/white-phone.svg", alt="") 
                span +38-067-734-00-60
        .two-parts-50.mb-130.contacks-block 
            .part-left.item-50 
                p.h2 Головний офіс та виробництво
            .part-right.item-50 
                .wrap-contacts-place
                    .contacts-block
                        .contact-item 
                            p.h3 Відділ продажу
                            a.link-type(href="#") 
                                img(src="./img/red_mail.svg", alt="")
                                span info@bayfest.com.ua
                            a.link-type(href="#") 
                                img(src="./img/red-phone.svg", alt="")
                                span +38–067–734–00–60
                        .contact-item 
                            p.h3 Відділ продажу
                            a.link-type(href="#") 
                                img(src="./img/red_mail.svg", alt="")
                                span info@bayfest.com.ua
                            a.link-type(href="#") 
                                img(src="./img/red-phone.svg", alt="")
                                span +38–067–734–00–60
                        .contact-item 
                            p.normal_text Одеська обл., селище Усатове, вул. Залізничників, 22              
                    .contacts-block 
                        .working-hours
                            p.h3 Графік роботи
                            ul.schedule.mb-30
                                li
                                    p.normal_text Понеділок-П'ятниця: 08:00-17:00
                                li
                                    p.normal_text Субота: 08:00-13:00
                                li
                                    p.normal_text (оплати та здача тари - до 17:00)
                            p.h3 Відвантаження продукції
                            ul.schedule
                                li
                                    p.normal_text Пн-Пт: 08:00-17:00
                                li
                                    p.normal_text Сб: 08:00-13:00
                                li
                                    p.normal_text Нд: вихідний


.where-to-buy-block 
    .container 
        .heading 
            p.h2 Представництва та пункти продажу 
        .wrap-map 
            iframe(src="https://www.google.com/maps/d/embed?mid=19w2cl_BS3q3aweKnTc4hvxcehORwsxU&ehbc=2E312F" width="100%" height="480")
        .adresses-wrap 
            .line 
                .name-part
                    p.normal_text_bold  «Флагман»
                .adress 
                     p.normal_text Одеська Область, с.Хлібодарське, вул.Тираспольське Шосе, буд.14
                .phone      
                    a(href="#") + 380 99 555 66 44   
            .line 
                .name-part
                    p.normal_text_bold  «Флагман»
                .adress 
                     p.normal_text Одеська Область, с.Хлібодарське, вул.Тираспольське Шосе, буд.14
                .phone      
                    a(href="#") + 380 99 555 66 44   
            .line 
                .name-part
                    p.normal_text_bold  «Флагман»
                .adress 
                     p.normal_text Одеська Область, с.Хлібодарське, вул.Тираспольське Шосе, буд.14
                .phone      
                    a(href="#") + 380 99 555 66 44   
            .line 
                .name-part
                    p.normal_text_bold  «Флагман»
                .adress 
                     p.normal_text Одеська Область, с.Хлібодарське, вул.Тираспольське Шосе, буд.14
                .phone      
                    a(href="#") + 380 99 555 66 44   