.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdf.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps
            li.bread-li 
                a(href="index.html").bread-link Головна 
            li.bread-li 
                a(href="#").bread-link Доставка та оплата
        p.h1 Доставка та оплата
        .main-pick-place.mb-130
            img(src="../img/delivery/1.png", alt="")
        p.h2 Доставка продукції
        .two-parts-50.mb-130.delivery-block 
            .part-left.item-50 
                p.h4  Виробником     
                p.normal_text Доставка продукції BAUFEST виробником здійснюється вантажним автомобілем з краном-маніпулятором або іншими видами вантажного транспорту. 
                p.normal_text Для перевезення продукції використовуються різні машини, в залежності від кількості піддонів. Розвантаження продукції, в залежності від виду транспорту здійснюється перевізником або силами та засобами клієнта та за його рахунок
                img(src="../img/delivery/2.png", alt="").delivery-img
            .part-right.item-50 
                p.h4  Клієнтом
                p.normal_text Доставка іншими видами транспорту здійснюється за бажанням клієнта. Це може бути як власний транспорт для доставки, так і замовлений у виробника. Такий вантажний транспорт повинен мати можливість бокового завантаження (завантажування проводиться автонавантажувачем). 
                p.normal_text В такому разі розвантаження продукції здійснюється силами та засобами клієнта та за його рахунок.
                img(src="../img/delivery/3.png", alt="").delivery-img
        p.h2 Оплата
        .two-parts-50.mb-130
            .part-left.item-50 
                p.h4  Готівка    
                p.normal_text Оплата готівкою здійснюється під час замовлення товару клієнтом у одній з філій як в разі доставки виробником, так і в разі доставки продукції власним транспортним засобом.
            .part-right.item-50 
                p.h4  Безготівка
                p.normal_text Оплата по безготівковому розрахунку здійснюється в касі відділення будь-якого банку або з розрахункового рахунку вашої фірми. В такому випадку доставка відбувається після надходження коштів на наш розрахунковий рахунок.
        .two-parts-50.mb-130 
            .part-left.item-40 
                p.h2 Наше правило
                p.normal_text У нашої компанії є непорушне правило: доставка тротуарної плитки по Одесі та інших містах Області повинна здійснюватися строго в обумовлені з покупцем терміни. Пунктуальність, акуратність і індивідуальний підхід до кожного клієнта - ось наші головні принципи в питаннях доставки.
                p.normal_text.mb-80 Наші менеджери узгодять її терміни і розрахують для вас точну вартість в залежності від пункту призначення і обсягу вашого замовлення. 
                p.rule-text 5 - 22 тонн
            .part-right.item-60 
                img(src="../img/delivery/4.png", alt="").delivery-img.mb-80
                p.normal_text Автомобілі місткістю 5 - 22 тонн, при розвантаженні ми використовуємо кран-маніпулятор
                p.normal_text Також покупець зобов'язаний забезпечити наявність під'їзду до місця розвантаження (тверде покриття, ширина дороги не менше 3 м, радіус розвороту не менше 15 м) з відсутністю за маршрутом під'їзду до місця розвантаження дорожніх знаків, що забороняють рух даного виду транспорту. 
                p.normal_text В іншому випадку оплатити всі додаткові витрати, що виникли через невиконання даних умов за максимальними розцінками Постачальника.