.design-page.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdr.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps
            li.bread-li 
                a(href="index.html").bread-link Головна 
            li.bread-li 
                a(href="#").bread-link Дизайн-проект 
        p.h1 Дизайн-проект
        .main-pick-place.main-screen-page
            img(src="./img/design/1.png", alt="")
            .button  дизайн-проект безкоштовно
        .two-parts-50.mb-50 
            .part-left.item-50 
                p.h3 Для чого дизайн-проект?
            .part-right.item-50 
                .check
                    p.normal_text_bold  Формує єдиний гармонійний стиль, що поєднує всі архітектурні та ландшафтні елементи
                .check   
                    p.normal_text_bold  Дозволяє підібрати оптимальні форми, кольору. розміри тротуарної плитки та їх поєднання
                .check   
                    p.normal_text_bold  Задає конфігурацію майданчиків. доріжок, парковок і місць для відпочинку
                .check   
                    p.normal_text_bold  Дає візуальне уявлення про те. яким буде вигляд на замощеній території
                .check   
                    p.normal_text_bold  Допомагає пройти шлях до втілення вашої мрії про ідеальну ділянку всього за 2-3 дні
.large-block
    .long-wrap
        .wrap-image 
            img(src="./img/design/2.png", alt="") 
        .wrap-image 
            img(src="./img/design/3.png", alt="")
        .wrap-image 
            img(src="./img/design/4.png", alt="")
        .wrap-image 
            img(src="./img/design/5.png", alt="")
.container 
    p.h2.centered.mb-80 Вигоди та переваги
    .flex.flex-5.mb-130.perevagy
        .item
            .red-header 10 днів
            p.normal_text Ви економите на пошук відповідного для вас рішення, підборі форм. кольору тротуарної плитки та їх поєднанні
        .item
            .red-header 5 днів
            p.normal_text Ви економите на пошуку інформації та оптимальному розрахунку кількості плитки і бордюрів
        .item
            .red-header 2 дні
            p.normal_text Термін розробки проекту. (В сезон терміни можуть збільшуватись. Розробка в порядку черги)
        .item
            .red-header 5000 грн
            p.normal_text В середньому ви не втрачаєте через невірний розрахунок матеріалів
        .item
            .red-header 4000 грн
            p.normal_text В середньому зберігаєте, уникнувши помилок укладальників
    p.h2.centered.mb-80 Етапи робіт
    .etaps-row.mb-80
        .number 01 
        .texts 
            p.normal_text_bold Надання план ділянки
            p.normal_text Ви надаєте план ділянки з будівлями та основними обʼєктами, топографічну зйомку території (при наявності), фотографії території з різних ракурсів, заповнену анкету.
    .etaps-row.mb-80
        .number 02 
        .texts 
            p.normal_text_bold Процес
            p.normal_text Професійний ландшафтний проектувальник створює унікальну концепцію мощення і розробляє дизайн-проект протягом 2-х днів
    .etaps-row.mb-130
        .number 03 
        .texts 
            p.normal_text_bold Готовий проект
            p.normal_text Ви отримуєте готовий проект, що включає загальну 20 візуалізацю територі, план мощення території фрагменти ділянок мощення.
    
    .two-parts-50.mb-130.design-project 
        .part-left.item-50 
            p.h2 Дизайн-проект включає
            .wrp-items.b-80
                .check   
                    p.normal_text_bold  Загальну 2D візуалізацію території з обʼєктами мощення в масштабі 1. 200
                .check   
                    p.normal_text_bold  План мощення території, типами плитки і варіантами розкладки, розрахунком кількості тротуарної плитки з урахуванням підрізів
                .check.mb-80   
                    p.normal_text_bold Фрагменти ділянок мощення зі схемами розкладки
            .button дизайн-проект безкоштовно
            p.small-text *Розробка дизайн-проекту безкоштовна при покупці бруківки від 150 м2
        .part-right.item-50 
            img(src="./img/design/6.png", alt="") 