.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdr.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps#breadcrambps
            span
                span 
                    a(href="index.html") Головна 
                span 
                    a(href="gallery.html") Галерея 
                span 
                    a(aria-current="page") 7 ст Фонтана, приватний будинок
        p.h1 7 ст Фонтана, приватний будинок
        .portfolio-wrap.three-in-row-wrap.mb-130 
            a.item(href="./img/portfolio/1.png" data-lightbox="image-1")
                .wrap-item-image
                    img(src="./img/portfolio/1.png", alt="")                 

            a.item(href="./img/portfolio/2.png" data-lightbox="image-1") 
                .wrap-item-image
                    img(src="./img/portfolio/2.png", alt="")
            a.item(href="./img/portfolio/3.png" data-lightbox="image-1") 
                .wrap-item-image
                    img(src="./img/portfolio/3.png", alt="")
            a.item(href="./img/portfolio/1.png" data-lightbox="image-1")
                .wrap-item-image
                    img(src="./img/portfolio/1.png", alt="")
            a.item(href="./img/portfolio/2.png" data-lightbox="image-1") 
                .wrap-item-image
                    img(src="./img/portfolio/2.png", alt="")
        p.h1 Галерея
        .gallery-type2 
            .slide 
                .wrap-slider-img
                    img(src="./img/slider/1.jpg", alt="")           
            .slide                 
                .wrap-slider-img
                    img(src="./img/portfolio/2.png", alt="") 
            .slide
                .wrap-slider-img
                    img(src="./img/portfolio/1.png", alt="")
            .slide
                .wrap-slider-img
                    img(src="./img/portfolio/2.png", alt="")
            .slide 
                .wrap-slider-img
                    img(src="./img/slider/1.jpg", alt="")           
            .slide                 
                .wrap-slider-img
                    img(src="./img/portfolio/2.png", alt="") 
            .slide
                .wrap-slider-img
                    img(src="./img/portfolio/1.png", alt="")
            .slide
                .wrap-slider-img
                    img(src="./img/portfolio/2.png", alt="")
        .two-parts-50.mb-130
            p.h2 Про проект
            .part-left.item-50               
            .part-right.item-50 
                p.h4  Задача
                p.normal_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                p.h4  Рішення
                p.normal_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s