.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdf.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps
            li.bread-li 
                a(href="index.html").bread-link Головна 
            li.bread-li 
                a(href="#").bread-link Галерея
        p.h1.mb-80 Галерея
        .gallery-block.mb-130
            .filter.flex
                button.theme-filter(data-theme="theme1") Ідея мощення
                button.theme-filter(data-theme="theme2") Наші роботи
                button.theme-filter(data-theme="theme3") Виробництво
            .portfolio-wrap.three-in-row-wrap.case-container 
                a(href="#").item.case(data-theme="theme1") 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme1") 
                    .wrap-item-image
                        img(src="./img/portfolio/2.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme2") 
                    .wrap-item-image
                        img(src="./img/portfolio/3.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme2") 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme3") 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme3") 
                    .wrap-item-image
                        img(src="./img/portfolio/2.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme1") 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme1") 
                    .wrap-item-image
                        img(src="./img/portfolio/2.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme2") 
                    .wrap-item-image
                        img(src="./img/portfolio/3.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme2") 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme3") 
                    .wrap-item-image
                        img(src="./img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item.case(data-theme="theme3") 
                    .wrap-item-image
                        img(src="./img/portfolio/2.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
            .button.button-small Показати більше