main.l-main
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="../img/pdf.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="../img/phone.svg", alt="")  
                    span +38–067–734–00–60

        .main-slider 
            .slide 
                p.h1 При замовленні від 1000 м2 25% знижка на плитку «Лайнстоун»
                .wrap-slider-img
                    img(src="../img/slider/1.jpg", alt="")
                .button Замовити плитку                  
            .slide 
                p.h1 При замовленні від 1000 м2 25% знижка на плитку «Лайнстоун»
                .wrap-slider-img
                    img(src="../img/slider/1.jpg", alt="")
                .button Замовити плитку 
            .slide 
                p.h1 При замовленні від 1000 
                .wrap-slider-img
                    img(src="../img/slider/1.jpg", alt="")
                .button Замовити плитку 
            .slide 
                p.h1  знижка на плитку «Лайнстоун»
                .wrap-slider-img
                    img(src="../img/slider/1.jpg", alt="")
                .button Замовити плитку 
.catalog 
    .container 
        p.h2 Каталог
        .wrap-catalog 
            .card 
                .card-image-wrap 
                    img.card-img(src="../img/catalog/linestone.png", alt="")
                .card-texts 
                    p.normal-text Лайнстоун 
            .card 
                .card-image-wrap 
                    img.card-img(src="https://content1.rozetka.com.ua/goods/images/big/10749194.jpg", alt="")
                .card-texts 
                    p.normal-text Старый город
                    p.price от 220 грн м²    
            .card 
                .card-image-wrap 
                    img.card-img(src="../img/slider/1.jpg", alt="")
                .card-texts 
                    p.normal-text Моноблок
                    p.price от 220 грн м²    
            .card 
                .card-image-wrap 
                    img.card-img(src="../img/catalog/linestone.png", alt="")
                .card-texts 
                    p.normal-text Брусчатка 
                    p.price от 220 грн м²    
            .card 
                .card-image-wrap 
                    img.card-img(src="../img/catalog/linestone.png", alt="")
                .card-texts 
                    p.normal-text Катушка
            .card 
                .card-image-wrap 
                    img.card-img(src="../img/catalog/linestone.png", alt="")
                .card-texts 
                    p.normal-text Палуба 
                    p.price от 220 грн м²    
            .card 
                .card-image-wrap 
                    img.card-img(src="../img/catalog/linestone.png", alt="")
                .card-texts 
                    p.normal-text Соты
                    p.price от 220 грн м²    
            .card 
                .card-image-wrap 
                    img.card-img(src="../img/catalog/linestone.png", alt="")
                .card-texts 
                    p.normal-text Тротуарный бордюр
                    p.price от 220 грн м²    
        p.h3.arrow-prew Вся плитка в каталогі може бути представлена як в базових кольорах, так і в гамі Colormix.
        .wrap-types
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn    
            .type 
                .type-img-wrap 
                    img(src="../img/types/2.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text Uhfysn    
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn    
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn    
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn 
            .type 
                .type-img-wrap 
                    img(src="../img/types/1.png", alt="")
                p.normal-text_bold Uhfysn 
.advantages 
    .container 
        p.h2  Основні переваги плитки BAUFEST
        .advantages-wrap
            .advantages-row.row-small 
                .check 
                    img.check-img(src="../img/check.svg", alt="")    
                    p.normal_text_bold  20 років гарантії         
                .check 
                    img.check-img(src="../img/check.svg", alt="")    
                    p.normal_text_bold  Колірна гама «ColorMix»
            .advantages-row.row-center 
                .advantages-img-wrap 
                    img(src="../img/brick.png", alt="") 

            .advantages-row.row-small 
                .check 
                    img.check-img(src="../img/check.svg", alt="")    
                    p.normal_text_bold  987 000 м2 продукції        
                .check 
                    img.check-img(src="../img/check.svg", alt="")    
                    p.normal_text_bold.underline.bold  Сертифікати, гост та багаторівневий контроль якості
p.mega-text 
   | Ми не тільки виробляємо та продаємо, 
   br 
   | ми виконуємо повний цикл включаючи земляні 
   br 
   | роботи та укладання плитки під ключ
.price-list-block
    .marquee.wrap-types
        .back-text прайс-лист
    .container
        .catalog-place
            .catalog-img-wrap 
                img(src="../img/catalog.png", alt="")
            .dowload-block 
                p.h2 Завантажити наш каталог і прайс-лист по тротуарній плитці
                .wrap-download-block
                    .download-place 
                        img(src="../img/pdf2.svg", alt="")
                        a.download-link(href="https://as.ua/offline/AS_UA_Catalog_May2017_Units.pdf" target="_blanc" download) 
                            | Завантажити каталог 
                        span.size    171 kb
                    .download-place 
                        img(src="../img/pdf3.svg", alt="")
                        a.download-link(href="https://as.ua/offline/AS_UA_Catalog_May2017_Units.pdf" target="_blanc" download) 
                            | Завантажити каталог 
                        span.size   171 kb
    .container-short
        .faq-block
            p.h2 Клієнти запитують
            .accordeon-block
                .line 
                    button.accordion Який мінімальний обсяг можна замовити у нас на заводі?
                    .panel
                        p Відвантаження товару відбувається безпосередньо зі складу заводу. Тому, ви можете придбати будь-який обсяг. Навіть найменший. Наприклад - 1 м2.
                .line 
                    button.accordion Чи є у вас доставка?
                    .panel
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                .line 
                    button.accordion Робимо чи ми укладання тротуарної плитки?
                    .panel
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                .line 
                    button.accordion Які терміни виробництва, якщо продукції немає в наявності?
                    .panel
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .container 
        .portfolio 
            .heading 
                p.h2 Наше портфоліо
                a(href="#" class="link-to-all") вся галерея
            .portfolio-wrap.three-in-row-wrap 
                a(href="#").item 
                    .wrap-item-image
                        img(src="../img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item 
                    .wrap-item-image
                        img(src="../img/portfolio/2.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item 
                    .wrap-item-image
                        img(src="../img/portfolio/3.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item 
                    .wrap-item-image
                        img(src="../img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item 
                    .wrap-item-image
                        img(src="../img/portfolio/1.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
                a(href="#").item 
                    .wrap-item-image
                        img(src="../img/portfolio/2.png", alt="")
                    p.item-subheader Лайнстоун Палермо
                    p.item-name.normal_text_bold    7 ст Фонтана, приватний будинок
.proposition-block 
    .container
        p.h2.uppercase ЕКСКЛЮЗИВНА ПРОПОЗИЦІЯ
        p.h2 від 600грн/м2
        .wrap-poposition
            .wrap-poposition-illustration 
                img(src="../img/bricks.png", alt="")
            .left-part 
                .left-block 
                    p.normal_text Тротуарная плитка «Сота» имеет широкую цветовую гамму и необычная форма позволяет воплощать любые дизайнерские решения и задумки
            .right-part 
                .check 
                    img.check-img(src="../img/check.svg", alt="")    
                    p.normal_text_bold Стійка до механічних навантажень не деформується
                .check 
                    img.check-img(src="../img/check.svg", alt="")    
                    p.normal_text_bold  Бетонна тротуарна плитка витримує низьку температуру
                .check 
                    img.check-img(src="../img/check.svg", alt="")    
                    p.normal_text_bold  Плитка виготовлена з міцного бетону та за новішими методами
                .check 
                    img.check-img(src="../img/check.svg", alt="")    
                    p.normal_text_bold.underline.bold  Призначена для руху важкого транспорту
.about-section 
    .container 
        .about-wrap 
            .part-1
                p.h2 Про Наше виробництво
                p.normal_text BAUFEST - це завод з виробництва дрібноштучних бетонних виробів методом вібропресування: фігурні елементи мощення тротуарів та доріг, бордюрний камінь, елементи зміцнення укосів.
                p.normal_text Компанія «BAUFEST» була створена у січні 2018 року у м. Одеса.
                p.normal_text Ми маємо великий асортимент продукції, що відкриває безліч можливостей для облаштування різних територій: тротуарів, автомобільних доріг, парків, терас, приватних дворів та ін.

            .part-2
                .wrap-about-img 
                    img(src="../img/about.png", alt="")
            .part-3
                ul.numbers 
                    li 
                        p.number 12 
                        p.normal_text колірних рішень плитки в «ColorMix»
                    li 
                        p.number 15 
                        p.normal_text тисяч квадратних метрів продукції на добу;
                    li 
                        p.number 3 
                        p.normal_text цехи з виробництва бетонних елементів;
            .part-4
                p.normal_text Пять років ми наполегливо працюємо для задоволення потреб наших споживачів. 
                p.normal_text Більшість цього часу було присвячене виробництву бруківки методом вібропресування напівсухої бетонної суміші. Ми регулярно поповнюємо ринок будівельних матеріалів України фігурними елементами мощення торгової марки «BAUFEST».

            .part-5
                form.form(action="")
                    p.form-name.h2 Знижка для архітекторів, дилерів та партнерів 
                    .form-row 
                        label(for="name")  Ім'я*
                        input(type="text" name="fname" required placeholder="Введіть ваше ім'я")
                    .form-row 
                        label(for="phone")  Ваш телефон*
                        //- #phone
                        input(type="tel" id="phone" required placeholder="(097) 777–77–77")
                        span#error-msg
                    .form-row    
                        button(type="submit").button.button-small   Отримати знижку   



