.inner-page
    .container
        ul.inform-main
            li.inform-main-li 
                a(href="#").price-list 
                    img(src="img/pdr.svg", alt="")  
                    span Каталог и прайс-лист  
            li.inform-main-li
                a(href="#") 
                    img(src="./img/phone.svg", alt="")  
                    span +38–067–734–00–60
        ul.breadcrambps
            li.bread-li 
                a(href="index.html").bread-link Головна 
            li.bread-li 
                a(href="#").bread-link Сипучі матеріали
        p.h1 Сипучі матеріали
        .main-pick-place.main-screen-page
            img(src="./img/material/1.png", alt="")
            .button.openModal  замовити послугу
.advantages.advantages-material
    .container
        p.h2  Сипучі матеріали для будівництва
        .advantages-wrap
            .advantages-row.row-small 
                .check  
                    p.normal_text_bold  Пісок;       
                .check  
                    p.normal_text_bold  Щебінь;
                .check  
                    p.normal_text_bold  Бут;
                .check  
                    p.normal_text_bold  Жерства;
                .check  
                    p.normal_text_bold  Цемент;
            .advantages-row.row-center 
                .advantages-img-wrap 
                    img(src="./img/material/2.png", alt="") 
            .advantages-row.row-small 
                .check  
                    p.normal_text_bold  Гранітний відсів;     
                .check  
                    p.normal_text_bold  Керамзит;
                .check  
                    p.normal_text_bold  Чорнозем;
                .check  
                    p.normal_text_bold  Бій.
p.mega-text.mb-80 
   | Є основним елементом для робіт з кладкою плитки, заливкою бетону, облаштуванням доріжок та ландшафтного дизайну
.container
    .two-parts-50.mb-80 
        .part-left.item-50 
            p.h2 Купити сипучі матеріали можна у різних фракціях
        .part-right.item-50 
            p.normal_text Наприклад, в наявності завжди є дрібний, середній і великий щебінь для засипки і як доповнення до бетонної суміші. Пісок може бути річковим або морським (відповідно вибирати потрібний тип потрібно за призначенням).
    .two-parts-50.mb-80 
        .part-left.item-50 
            p.h2 Пісок та щебінь
        .part-right.item-50            
            p.normal_text Найпопулярніша сипуча сировина в нашій компанії – це пісок та щебінь різної фракції. Використовують їх як основу для бетонних сумішей заливання фундаменту, монолітних перекриттів, залізобетонних колон та огорож, армованих поясів та дворових покриттів. Компанія гарантує відповідність сировини високій якості. Постачання склад здійснюються безпосередньо з кар'єрів та інших точок їх виробництва чи транспортування.
            p.normal_text Вибрані сипучі будівельні матеріали можна замовити з послугою доставки по Одесі та області.
    .two-parts-50.mb-80 
        .part-left.item-50 
            p.h2 Гранітне відсівання
        .part-right.item-50 
            p.normal_text Гранітне відсівання – це дуже дрібний щебінь, який використовується при виготовленні тротуарної плитки та інших дорожніх поверхонь. 
            p.normal_text Також його додають до готових будівельних сумішей для закріплення. Наша компанія пропонує купити сипучі будівельні матеріали цього типу в будь-якому обсязі, від кількох мішків до десятків тонн.
    .two-parts-50.mb-80 
        .part-left.item-50 
            p.h2 Бут та керамзит
        .part-right.item-50 
            p.normal_text Бут та керамзит – будівельна сировина, яка рідше використовується у повсякденному будівництві. Але вони незамінні для зміцнення схилів та декорування ландшафтного дизайну. 
            p.normal_text Компанія надає можливість купити ці сипучі матеріали в Одесі з доставкою по місту та області, насипом або в мішках.
    .two-parts-50.mb-80 
        .part-left.item-50 
            p.h2 Будівельне сміття (бій)
        .part-right.item-50 
            p.normal_text Нерідко при засипанні майданчиків та заливанні доріжок, паркувальних зон та двору використовується бій цегли та інше сміття. Це дозволяє знизити собівартість робіт без шкоди якості. 
            p.normal_text Замість буту та великого щебеню раціонально засипати бій цегли та бетону, які мають аналогічні характеристики (міцність, крихкість та інше).
.mega-image.mb-80
    img(src="./img/material/3.png", alt="")
.container
    .two-parts-50.mb-130
        .part-left.item-50 
            p.h2 Як правильно зробити замовлення у нашій компанії
            p.normal_text Ціна на сипучі матеріали нашої компанії завжди доступна. У доповненні клієнтам пропонуються вигідні умови оплати для фізичних та юридичних осіб. Спосіб доставки можна вибрати з урахуванням побажань (самовивіз або доставка вантажним транспортом). 
            p.normal_text Усі деталі необхідно уточнювати у менеджера.
        .part-right.item-50 
            .wrap-image-how
                img(src="./img/material/4.png", alt="")
                .red-info-block 
                    p Співпраця можлива з фізичними та юридичними особами. У менеджера за телефоном ви можете уточнити оптимальний формат оплати, вказати потрібний часовий відрізок для доставки на об'єкт. Команда нашої компанії зробить все можливе, щоб будівельні сипучі матеріали були доставлені на будівництво без затримок, точної ваги та належної якості. 
                    p Не забудьте ознайомитися з нашими повними описами та характеристиками цих товарів. Таким чином, виключається можливість помилки при виборі.

.container.pluses
    p.h2.short-h2.mb-80 Переваги замовлення у нас
    .two-parts-50.mb-50
        .part-left.item-50 
            .etaps-row
                    .icons 
                        img(src="./img/weight.svg", alt="")
                    .texts 
                        p.normal_text_bold Надання план ділянки
                        p.normal_text Ви надаєте план ділянки з будівлями та основними обʼєктами, топографічну зйомку території (при наявності), фотографії території з різних ракурсів, заповнену анкету.
        .part-right.item-50
            .etaps-row
                .icons 
                    img(src="./img/barrel.svg", alt="")
                .texts 
                    p.normal_text_bold Великий запас сировини
                    p.normal_text В наявності завжди великий запас сировини (не потрібно чекати на черзі, можна замовити будь-який обсяг разово або на постійній основі)
    .two-parts-50.mb-130
        .part-left.item-50 
            .etaps-row
                    .icons 
                        img(src="./img/sand.svg", alt="")
                    .texts 
                        p.normal_text_bold Сухий сипкий матеріал
                        p.normal_text Постачається тільки сухий сипкий матеріал (суворо контролюється рівень вологи, чистота, фракція та інші характеристики)
        .part-right.item-50
            .etaps-row
                .icons 
                    img(src="./img/price-tag.svg", alt="")
                .texts 
                    p.normal_text_bold Доступна ціна
                    p.normal_text Ціна завжди залишається в лояльному діапазоні, не вище за ринок