.inner-page
    .container
        ul.breadcrambps#breadcrambps
            span            
                span 
                    a(href="index.html") Головна 
                span
                    a(href="#" aria-current="page") Укладання бруківки та тротуарної плитки 
        p.h1 Укладання бруківки та тротуарної плитки
        .main-pick-place.main-screen-page
            img(src="./img/uklad/1.png", alt="")
            .button.openModal замовити послугу
    .container-short.about-company-block.mb-130
        p.h2.centered Про послугу
        p.normal_text Однією із затребуваних послуг компанії «БАУФЕСТ» є  укладання тротуарної плитки, скористатися якою можуть фізичні та юридичні особи Одеси та Одеської області.
        p.normal_text В останні роки такі вироби як бруківка стали незамінним матеріалом для мощення, який відрізняється високими експлуатаційними властивостями і вражаючою декоративністю. Вона активно використовується для мощення прибудинкових територій, доріжок в парках, тротуарів вулиць і площ, автостоянок, складських і виробничих приміщень. Тому попит на тротуарну плитку завжди високий і пропозицій щодо її реалізації незліченна безліч.
        p.normal_text Головне вибрати такого виробника, який запропонує високу якість на любі види бруківки при доступній ціні. Саме таким виробником робіт  і реалізатором в одній особі є «БАУФЕСТ». Ми також можемо доставити матеріал на місце проведення робіт і провести укладання бруківки під ключ.
    .container 
        p.h2.centered.mb-80 Ціни на укладання тротуарної плитки
        .simple-table.mb-80 
            .table-row 
                .table-part.part-1
                    p.normal_text_bold Найменування робіт
                .table-part.part-2  
                    p.normal_text_bold Од. вим.   
                .table-part.part-3  
                    p.normal_text_bold Ціна
            .table-row 
                .table-part.part-1
                    p.normal_text Укладання тротуарної плитки на готову бетонну основу
                .table-part.part-2  
                    p.normal_text м2 
                .table-part.part-3  
                    p.normal_text 130 грн.
            .table-row 
                .table-part.part-1
                    p.normal_text Укладання тротуарної плитки з підготовкою основи з щебеню і піску
                .table-part.part-2  
                    p.normal_text м2 
                .table-part.part-3  
                    p.normal_text 520 грн.
            .table-row 
                .table-part.part-1
                    p.normal_text Укладання тротуарної плитки з підготовкою бетонної основи
                .table-part.part-2  
                    p.normal_text м2 
                .table-part.part-3  
                    p.normal_text 130 грн.
            .table-row 
                .table-part.part-1
                    p.normal_text Встановлення садового бордюру
                .table-part.part-2  
                    p.normal_text м2 
                .table-part.part-3  
                    p.normal_text 130 грн.
            .table-row 
                .table-part.part-1
                    p.normal_text Укладання тротуарної плитки на готову бетонну основу
                .table-part.part-2  
                    p.normal_text м2 
                .table-part.part-3  
                    p.normal_text 130 грн.
.back-text.no-big.centered.mb-80 Ціни на укладання плитки
.container 
    .simple-table.mb-80 
        .table-row 
            .table-part.part-1
                p.normal_text_bold Склад робіт включених в ціну
            .table-part.part-2  
                p.normal_text_bold   
            .table-part.part-3  
                p.normal_text_bold 
        .table-row 
            .table-part.part-1
                p.normal_text Розмітка ділянок з урахуванням висот і ухилів
            .table-part.part-2  
                p.normal_text 
            .table-part.part-3  
                p.normal_text 
    p.mega-text.mb-130 
        | Остаточна вартість робіт з укладання тротуарної плитки визначається на об'єкті
    .two-parts-50.mb-80 
        .part-left.item-50 
            p.h2 Всі знижки надаються:
        .part-right.item-50
            .check.mb-30  
                p.normal_text_bold  Індивідуально в залежності від обсягів робіт
            .check.mb-30  
                p.normal_text_bold  Вартість може збільшитися при радісно, мозаїчному мощенні
            .check.mb-30  
                p.normal_text_bold  Вартість може збільшитися при укладанні клінкерної та гранітної плитки
            .check.mb-30  
                p.normal_text_bold  Стандартна товщина шарів може змінюватися в залежності від технічного завдання
            .check  
                p.normal_text_bold  Гарантія 12-36 місяців - залежить від підстави
    .two-parts-50.mb-130 
        .part-left.item-50 
            p.h2 Способів укладання бруківки існує безліч
            p.normal_text Визначальним фактором при його виборі є призначення ділянки доріжки або площадки. Важливо також враховувати і брати до уваги вже готову існуючу основу. 
            p.normal_text Визначившись із значенням товщини плитки і враховуючи перші два фактори, ви зможете підібрати спосіб укладання.
        .part-right.item-50
            img(src="./img/uklad/2.png", alt="")
    .two-parts-50.mb-130 
        .part-left.item-50 
            p.h2 Найпоширеніший спосіб          
        .part-right.item-50
            p.normal_text Прийнято вважати, що укладання бетонної плитки на піщану подушку є найбільш простим і найменш витратним, а, отже, і найпоширенішим способом. Для мощення такою плиткою під'їзних територій часто використовують саме цей спосіб.
            p.normal_text Іноді плиту укладають на стяжку з бетону. Цей метод є більш складним і трудомістким. Його прийнято використовувати в тих випадках, коли застосовується плитка нестандартних розмірів, наприклад, з гранітного каменю. Наявність бетонної стяжки дозволяє контролювати рівень і регулювати товщину покриття.

    p.h2.centered Наша компанія виконує укладання бруківки в кілька налагоджених до дрібниць етапів
    .etaps-row.mb-80
        .number 01 
        .texts 
            p.normal_text_bold Розмітка майданчика
            p.normal_text Насамперед, необхідно зробити розмітку майданчика під укладання. Виставляються мітки, відбувається трамбування та розмітка території. Тут же потрібно враховувати прилеглі області та наявність ухилів.
    .etaps-row.mb-80
        .number 02 
        .texts 
            p.normal_text_bold Планування
            p.normal_text В процесі планування, вирівнюється поверхня, влаштовуються каркаси під ухили і формується захисний дренажний шар. Щоб не створити болото  необхідно продумати відводи для води, з огляду на ухили.
    .etaps-row.mb-130
        .number 03 
        .texts 
            p.normal_text_bold Огранізація несучого шару
            p.normal_text Після цього слідуючий етап огранізація несучого шару, товщина якого буде продиктована знову ж таки призначенням ділянки. Для простих пішохідних зон прийнято використовувати товщину в межах від п'ятнадцяти до двадцяти сантиметрів, для автомобільних доріжок; від двадцяти до тридцяти. Якщо цим значенням нехтувати, вже незабаром на вимощеній доріжці можуть з'явитися вибоїни і провали.
    .etaps-row.mb-130
        .number 04
        .texts 
            p.normal_text_bold Встановлення бордюрів
            p.normal_text Далі слід встановити бордюри та інші огороджувальні конструкції. Цей етап також дуже важливий, оскільки бордюри запобігають «розповзанню» плитки в майбутньому.
    .etaps-row.mb-130
        .number 05 
        .texts 
            p.normal_text_bold Облаштування вирівнюючого шару
            p.normal_text Далі можна приступати безпосередньо до мощення тротуарною плиткою. Іноді використовують спеціальні агрегати для віброущільнення.
    .etaps-row.mb-130
        .number 06 
        .texts 
            p.normal_text_bold Фінальна обробка
            p.normal_text На останньому етапі робіт проводиться затирка швів і фінальна обробка покриття.
    p.h3.centered.mb-130 Як бачите, укладання бруківки складний і клопіткий процес, який вимагає участі професіоналів - будівельників
    .two-parts-50.mb-130.connect-block 
        .part-left.item-60 
            P.grey-60.mb-50 
                | Як зв'язатися з нами?
            p.normal_text.toclient Щоб стати нашим постійним клієнтом, необхідно зв'язатися з нами за телефоном 
            a(href="tel").flex-start.simple-link.mb-50
                img(src="./img/red-phone.svg", alt="")
                | +38-067-734-00-60
            .flex-start.reset
                p.normal_text.reset-mb Або заповнити форму 
                img(src="./img/arrow-to-right.svg", alt="")
        .part-right.item-40 
            form.form(action="")
                p.form-name.h2 Для зв'язку з нами:
                .form-row 
                    label(for="name")  Ім'я*
                    input(type="text" name="fname" required placeholder="Введіть ваше ім'я")
                .form-row 
                    label(for="lastName")  Прізвище*
                    input(type="text" name="lastName" required placeholder="Введіть ваше прізвище")
                .form-row 
                    label(for="phone")  Ваш телефон*
                    //- #phone
                    input(type="tel" id="phone" required placeholder="(097) 777–77–77")
                    span#error-msg
                .form-row 
                    label(for="mail")  E-mail
                    input(type="mail" name="mail" required placeholder="Введіть ваши e-mail")
                .form-row    
                    button(type="submit").button.button-small   Отримати знижку   